/* Error: There is no module with the namespace "ex-math".
 *     ,
 * 322 |                     padding: ex-math.midpoint(3px, 4px, 2.5) 5px;
 *     |                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   scss/about.scss 322:30  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "ex-math".\a     \2577 \a 322 \2502                      padding: ex-math.midpoint(3px, 4px, 2.5) 5px;\a     \2502                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss/about.scss 322:30  root stylesheet';
}
