/* Error: There is no module with the namespace "sc".
 *     ,
 * 172 |                @include sc.user-select(none);
 *     |                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   scss/blogpage.scss 172:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "sc".\a     \2577 \a 172 \2502                 @include sc.user-select(none);\a     \2502                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss/blogpage.scss 172:16  root stylesheet';
}
