@use './modules/shortcuts.scss' as sc;
@use 'sass:color';

@include sc.font-face-var('Archivo', 100 900, 62% 125%, normal, "..", (
     ('woff2', format('woff2-variations')), 
     ('woff2', format('woff2') tech('variations'))
));
@include sc.font-face-var('Lexend', 100 900, normal, normal, "..", (
     ('woff2', format('woff2-variations')), 
     ('woff2', format('woff2') tech('variations'))
));
@include sc.font-face('Candy Beans', "Regular", normal, "..", (
     ('woff2', format('woff2'))
));

body {
     display: flex;
     justify-content: center;
     font-family: sc.$standard-font;
     background-image: url(../images/backgrounds/beach.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: #312e3d;
     background-blend-mode: color-burn;

     #flavory-content {
          display: grid;
          grid-template-columns: auto 900px;
          grid-template-rows: 1fr;
          grid-template-areas:
               "flavory-sidebar flavory-autobiography"
          ;
          gap: 5px;
          margin-block: 0.5cm;
     }

     .sidebar {
          grid-area: flavory-sidebar;
     }

     .autobiography {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          grid-area: flavory-autobiography;
          background-color: color.adjust(#272525, $lightness: -5%);
          box-shadow: 5px 5px 0px 0px #4f4eff;
          gap: 15px;
          padding: 15px;

          .information {

               &__account {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-template-rows: auto auto-fit;
                    grid-template-areas:
                         "account-profile account-profile"
                         "account-banner account-extra"
                    ;
                    gap: 5px 15px;
               }

               .profile {
                    display: flex;
                    flex-direction: row;
                    grid-area: account-profile;
                    background-color: rgba(0, 0, 0, 0.5);
                    background-image: url(../images/profile/gridlines.avif);
                    background-position: 30px -20px;
                    background-blend-mode: color-burn;
                    border-radius: 8px;
                    padding: 10px;
                    gap: 10px;

                    &__image {
                         border-radius: 5px;
                    }

                    &__content {
                         display: flex;
                         flex-direction: column;
                    }

                    &__baybayin {
                         display: grid;
                         grid-template-columns: 1fr 1fr;
                    }

                    &__baybayin-characters {
                         font-size: 1rem;
                    }

                    &__title {
                         font-family: "Archivo", sc.$standard-font;
                         font-size: 1.8rem;
                         font-weight: 900;
                         font-stretch: expanded;
                    }

                    &__description {
                         font-family: sc.$fancy-font;
                         font-style: italic;
                         font-size: 0.85rem;
                         text-wrap: pretty;
                         width: 30ch;
                         margin-top: 5px;
                    }

                    &__patterns {
                         display: flex;
                         flex-direction: row;
                         justify-content: flex-end;
                         gap: 5px;
                         margin-top: auto;
                    }

                    &__patterns-block {
                         border-radius: 3px;
                         width: calc(20px * 2);
                         height: 20px;

                         &--pallete-1 {
                              background-color: #4f4eff;
                         }
                         &--pallete-2 {
                              background-color: #a3fb44;
                         }
                         &--pallete-3 {
                              background-color: #272727;
                         }
                    }
               }

               .banner {
                    grid-area: account-banner;
                    background-color: white;
                    background-image: url(../images/profile/the_sky.avif);
                    background-position: 900px 300px;
                    border-radius: 8px;
                    color: black;
                    position: relative;
                    height: 40px;
                    padding: 1px 3px;

                    &__small {
                         font-size: 14px;
                         position: absolute;
                    }

                    &__big {
                         font-size: 25px;
                         position: absolute;
                         right: 3px;
                         bottom: 0;
                    }
               }

               .extra {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    grid-area: account-extra;
                    background-color: black;
                    background-position: 30px;
                    background-size: 80px;
                    background-repeat: no-repeat;
                    border-radius: 8px;
                    overflow: hidden;
                    height: 40px;

                    &__centerpiece {
                         image-rendering: pixelated;
                    }
               }
          }

          .description {


               h1 {
                    font-family: "Archivo", sc.$standard-font;
                    font-size: 1.6rem;
                    font-weight: 900;
                    font-stretch: expanded;
                    background-color: color.adjust(#272525, $lightness: -10%);
                    border-radius: 5px;
                    padding: 10px 15px;
                    width: 100%;
               }

               p {
                    font-family: sc.$fancy-font;
                    font-size: 0.85rem;
                    text-align: justify;
                    text-wrap: pretty;
                    line-height: 1.4;
                    padding-inline: 10px;
                    margin-block: 10px;
               }
          }
     }
}