@use './modules/fonts.scss' as font;
@use './modules/palletes.scss' as plt;
@use './modules/manual.scss' as mnl;
@use 'sass:color';
@use 'sass:list';

@include font.font-face-var('Archivo', 100 900, 62% 125%, normal, 1, font.$font-source-variable);
@include font.font-face-var('Zalando Sans', 200 900, 75% 125%, normal, 1, font.$font-source-variable);
@include font.font-face-var('JetBrains Mono', 100 800, normal, normal, 1, font.$font-source-variable);
@include font.font-face('Trebuchet MS', 500 700, normal, normal, 1, font.$font-source-static);
@include font.font-face('Trebuchet MS', 500 700, normal, italic, 1, font.$font-source-static);
@include font.font-face('Noto Sans Tagalog', 500, normal, normal, 1, font.$font-source-static);
@include font.font-face('MS Pixel Serif', 500 700, normal, normal, 1, font.$font-source-static);
@include font.font-face('Candy Beans', 500, normal, normal, 1, font.$font-source-static);

html {
     scrollbar-width: auto;
     scrollbar-color: plt.$flavor-scrollbar-thumb black;
     scrollbar-gutter: stable;

     &::-webkit-scrollbar {
          width: auto;
     }

     &::-webkit-scrollbar-track {
          background: black;
     }

     &::-webkit-scrollbar-thumb {
          background: plt.$flavor-scrollbar-thumb;
          border-radius: 0px;
     }
}

body {
     display: grid;
     justify-content: center;
     grid-template-columns: auto min-content;
     grid-template-rows: 1fr;
     grid-template-areas: "flavory-sidebar flavory-about";
     gap: 5px;
     font-family: font.$standard-font;
     background-image: url(../images/backgrounds/locker.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: plt.$flavor-wallpaper-color;
     background-blend-mode: color-burn;
     margin-block: 0.5cm;
     overflow: auto;

     @media screen and (width <= 845px) {
          min-width: 845px;
     }

     .sidebar {
          grid-area: flavory-sidebar;
     }

     .about {
          display: grid;
          grid-template-columns: repeat(2, 445px);
          grid-template-rows: 1fr auto;
          grid-template-areas:
               "about-profile about-information"
               "about-interests ."
          ;
          grid-area: flavory-about;
          gap: 15px;
          background-color: plt.$flavor-content-color;
          box-shadow: 5px 5px 0px 0px plt.$flavor-primary-color;
          padding: 20px;

          @media screen and (width <= 1305px) {
               grid-template-columns: 445px;
               grid-template-rows: auto;
               grid-template-areas:
                    "about-profile"
                    "about-information"
                    "about-interests"
               ;
          }
     }

     $profile-header-row: 90px;
     $profile-details-row: 350px;
     $profile-gallery: 44px;
     .about .profile {
          display: grid;
          grid-template-columns: 150px 1fr;
          grid-template-rows: $profile-header-row $profile-details-row $profile-gallery;
          grid-template-areas:
               "profile-header profile-header"
               "profile-account profile-biography"
               "profile-gallery profile-gallery"
          ;
          grid-area: about-profile;
          gap: 10px;

          .header {
               display: grid;
               grid-template-columns: 1fr $profile-header-row;
               grid-template-rows: $profile-header-row;
               grid-area: profile-header;
               gap: 10px;

               & > * {
                    background-color: plt.$flavor-bento-color;
                    border-radius: 5px;
               }

               &__banner {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                         "banner-domain banner-barstuff"
                         "banner-title banner-year"
                    ;
                    gap: 0px 15px;
                    background-color: plt.$flavor-gridline-color;
                    background-image: url(../images/backgrounds/grids.avif);
                    background-attachment: local;
                    background-size: 180%;
                    background-position: 35%;
                    background-blend-mode: color-burn;
                    position: relative;
                    height: 100%;
                    padding: 8px;
               }

               &__banner-domain {
                    grid-area: banner-domain;
                    font-family: 'Archivo', font.$standard-font;
                    font-size: 0.7rem;
                    font-weight: 900;
                    font-stretch: ultra-expanded;
                    color: plt.color-contrast(plt.$flavor-primary-color);
                    background-color: plt.$flavor-primary-color;
                    width: fit-content;
                    height: fit-content;
                    position: relative;
                    padding: 3px 8px;
                    margin-left: 8px;

                    &::selection {
                         color: black;
                         background-color: transparent;
                    }

                    &::before {
                         content: "\00A0";
                         background-color: inherit;
                         width: 5px;
                         position: absolute;
                         top: 0;
                         left: -8px;
                         padding-block: 3px;
                    }
               }

               --banner-title-animation: none;
               &__banner-title {
                    display: grid;
                    align-self: flex-end;
                    grid-template-columns: auto 1fr;
                    grid-template-rows: auto auto;
                    grid-area: banner-title;

                    &:hover {
                         --banner-title-animation: bouncing 0.5s cubic-bezier(0.45, 0, 0.55, 1) infinite normal none;
                    }

                    @media (prefers-reduced-motion: reduce) {
                         --banner-title-animation: none !important;
                    }
               }

               &__banner-title bby-char {
                    display: inline-block;
                    animation: var(--banner-title-animation);

                    @for $chars from 1 through 6 { // due to broswer support, I can't use sibling-index for shit
                         &:nth-child(#{$chars}) {
                              animation-delay: calc($chars * 100ms);
                         }
                    }
               }

               &__banner-title-baybayin {
                    font-family: 'Noto Sans Tagalog', font.$standard-font;
                    font-size: 0.85rem;
                    font-display: block;
               }

               &__banner-title-latin {
                    font-family: 'Archivo', font.$standard-font;
                    font-size: 1.65rem;
                    font-weight: 900;
                    font-stretch: expanded;

                    @supports (text-box: inherit) {
                         text-box: trim-end cap alphabetic;
                    }
               }

               &__banner-year {
                    -webkit-user-select: none;
                    user-select: none;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-area: banner-year;
                    width: fit-content;
                    height: fit-content;
                    margin-top: auto;
                    margin-left: auto;
               }

               &__banner-year year-num {
                    display: block;
                    font-family: 'Archivo';
                    font-size: 1rem;
                    font-weight: 900;
                    font-stretch: ultra-expanded;
                    text-align: center;
                    padding-inline: 3px;

                    &:nth-last-child(1) {
                         color: plt.color-contrast(plt.$flavor-secondary-color);
                         background-color: plt.$flavor-secondary-color;
                    }
               }

               &__banner-barstuff {
                    -webkit-user-select: none;
                    user-select: none;
                    grid-area: banner-barstuff;
                    image-rendering: pixelated;
               }

               &__sonic {
                    background-image: url(../images/decorations/gosonic.gif);
                    background-size: cover;
                    background-position: center;
               }

               @keyframes bouncing {
                    0%, 100%  { transform: translate(0px, 0px)  }
                    50%       { transform: translate(0px, -5px) }
               }
          }

          $account-avatar-row: 150px;
          $account-status-row: 50px;
          $account-misc-row: 130px;
          .account {
               display: grid;
               grid-template-columns: 1fr 1fr;
               grid-template-rows: $account-avatar-row $account-status-row $account-misc-row;
               grid-template-areas: 
                    "account-avatar account-avatar"
                    "account-status account-status"
                    "account-triviapad account-vending"
               ;
               grid-area: profile-account;
               gap: 10px;

               & > * {
                    background-color: plt.$flavor-bento-color;
                    border-radius: 5px;
               }

               &__avatar {
                    grid-area: account-avatar;
                    image-rendering: smooth;
               }

               &__status {
                    display: flex;
                    flex-direction: column;
                    grid-area: account-status;
               }

               &__status-title {
                    font-family: 'Archivo', font.$standard-font;
                    font-size: 0.9rem;
                    font-weight: 870;
                    font-stretch: semi-expanded;
                    text-align: center;
                    text-transform: uppercase;
                    color: plt.color-contrast(plt.$flavor-tertiary-color);
                    background-color: plt.$flavor-tertiary-color;
                    border-radius: 3px 3px 0px 0px;
                    width: 100%;
                    padding: 1px 5px;
               
                    &::before, &::after {
                         content: '\26A0';
                    }
               
                    &::before {
                         margin-right: 5px;
                    }
               
                    &::after {
                         margin-left: 5px;
                    }
               }

               &__status-desc {
                    font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
                    font-size: 0.7rem;
                    font-weight: bolder;
                    text-align: center;
                    margin-block: auto;
               }

               &__triviapad {
                    display: flex;
                    flex-direction: column;
                    grid-area: account-triviapad;
                    background: linear-gradient(to bottom, transparent 5%, beige 5%);
               }

               &__triviapad-title {
                    font-family: 'Archivo', font.$standard-font;
                    font-size: 0.95rem;
                    font-weight: 800;
                    font-stretch: semi-condensed;
                    text-align: center;
                    text-transform: uppercase;
                    color: plt.color-contrast(plt.$flavor-primary-color);
                    background-color: plt.$flavor-primary-color;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    padding: calc((3px + 4px) / 2.5) 5px;
               }

               &__triviapad-desc {
                    font-family: 'Trebuchet MS' font.$standard-fancy-font, font.$standard-font;
                    font-size: 0.5rem;
                    font-weight: bolder;
                    text-align: start;
                    color: black;
                    padding: 5px;
                    padding-top: 2px;
                    padding-right: 2px;
                    margin-top: 3px;
                    margin-right: 3px;
               }

               &__triviapad-sonic {
                    -webkit-user-select: none;
                    user-select: none;
                    align-self: center;
                    image-rendering: pixelated;
                    width: fit-content;
                    margin-block: auto;
               }

               &__vending {
                    grid-area: account-vending;
                    background-image: url(https://preview.redd.it/vending-machine-in-japan-that-i-shot-with-nintendo-3ds-v0-ollf4zfqrihg1.jpeg?auto=webp&s=fc92656a5ff728645111d9577b24e4d64c9e1fb6);
                    background-size: cover;
                    background-position: center;
                    image-rendering: smooth;
               }
          }

          $biography-headbar-primary-color: beige;
          $biography-scrollbar-thumb-color: plt.$flavor-scrollbar-thumb;
          .biography {
               grid-area: profile-biography;
               background-color: plt.$flavor-bento-color;
               box-shadow: 3px 3px 0px 0px color.change(plt.$flavor-quaternary-color, $alpha: 0.75);
               padding: 8px;

               &__headbar {
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                         "headbar-blocks headbar-title"
                         "headbar-decorations headbar-decorations"
                    ;
                    gap: 5px;
                    margin-bottom: 10px;
               }

               &__headbar-blocks {
                    grid-area: headbar-blocks;
                    background-color: $biography-headbar-primary-color;
               }

               &__headbar-title {
                    grid-area: headbar-title;
                    font-family: 'Archivo', font.$standard-font;
                    font-size: 1.3rem;
                    font-weight: 800;
                    font-stretch: semi-expanded;
                    text-transform: uppercase;
                    color: $biography-headbar-primary-color;
                    border: 2px solid $biography-headbar-primary-color;
                    border-left-width: 10px;
                    padding: 3px 10px;
               
                    &::selection {
                         color: plt.color-contrast($biography-headbar-primary-color);
                         background-color: $biography-headbar-primary-color;
                    }
               }

               &__headbar-decorations {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-template-rows: 10px;
                    grid-area: headbar-decorations;
                    column-gap: 5px;
                    width: 100%;
               }

               &__headbar-slabs {
                    background-color: $biography-headbar-primary-color;

                    &--pallete-1 {
                         background-color: plt.$flavor-primary-color;
                    }
                    &--pallete-2 {
                         background-color: plt.$flavor-secondary-color;
                    }
               }

               --scrollbar-thumb: #{ $biography-scrollbar-thumb-color };
               &__body {
                    outline: none;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: var(--scrollbar-thumb) transparent;
                    height: 275px;
                    padding: 5px;
                    
                    &:focus-visible {
                         --scrollbar-thumb: #{ color.adjust($biography-scrollbar-thumb-color, $lightness: 15%) };
                    }
               
                    &::-webkit-scrollbar {
                         width: 6px;
                    }
               
                    &::-webkit-scrollbar-track {
                         background: transparent;
                    }
               
                    &::-webkit-scrollbar-thumb {
                         background: var(--scrollbar-thumb);
                         border-radius: 4px;
                    }

                    h3 {
                         @include mnl.manual__section;
                    }
               
                    p {
                         @include mnl.manual__description;
                         font-size: 0.8rem;
                         text-wrap: pretty;

                         &:last-child {
                              margin-bottom: 0px;
                         }
                    }
               }

               &__heading {
                    @include mnl.manual__heading;
               }

               &__heading-title {
                    @include mnl.manual__heading-title;
               }

               &__heading-subtitle {
                    @include mnl.manual__heading-subtitle;
               }
          }

          .gallery {
               display: grid;
               grid-template-columns: 2fr 1fr;
               grid-template-rows: $profile-gallery;
               grid-area: profile-gallery;
               gap: 10px;

               & > * {
                    background-color: plt.$flavor-bento-color;
                    border-radius: 5px;
               }
               
               &__unseen {
                    -webkit-user-select: none;
                    user-select: none;
                    background-image: url(https://i.kym-cdn.com/photos/images/original/003/171/650/073.jpeg);
                    background-size: 100%;
                    background-position: center 25%;
                    background-repeat: no-repeat;
                    animation: windy-sway 10s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
                    position: relative;
                    padding: 1px 3px;

                    @media (prefers-reduced-motion: reduce) {
                         animation-duration: 25s;
                    }
               }

               &__unseen-baybayin {
                    font-family: 'Noto Sans Tagalog', font.$standard-font;
                    color: azure;
                    position: absolute;

                    &--small {
                         font-size: 0.875rem;
                         text-shadow: 1px 1px 0px black;
                    }

                    &--big {
                         font-size: 1.5625rem;
                         text-shadow: 2px 2px 0px black;
                         right: 3px;
                         bottom: 0;
                    }
               }

               &__watchmen {
                    background-color: black;
                    background-image: url(../images/decorations/watchman.gif);
                    background-size: 60%;
                    background-position: center;
                    background-repeat: no-repeat;
                    image-rendering: pixelated;
               }

               @keyframes windy-sway {
                    from { background-position-y: 25%; }
                    to   { background-position-y: 55%; }
               }
          }
     }

     /// Shortcut for creating headbars.
     /// @param {color} $pallete-primary   - The primary pallete color.
     /// @param {color} $pallete-secondary - The secondary pallete color.
     /// @param {color} $pallete-tertiary  - The tertiary pallete color.
     /// @output Makes a fancy headbar, that's it.
     @mixin headbars($pallete-primary, $pallete-secondary, $pallete-tertiary) {
          $headbar-primary-color: $pallete-primary;
          $headbar-primary-color-starting-gradient: color.adjust($headbar-primary-color, $lightness: -25%) 0%;
          $headbar-primary-color-ending-gradient: color.adjust($headbar-primary-color, $lightness: -40%) 95%;

          &__headbar {
               display: flex;
               flex-direction: row;
               column-gap: 3px;
          }

          &__headtitle {
               font-family: 'Archivo', font.$standard-font;
               font-size: 1.1rem;
               font-weight: 900;
               font-stretch: expanded;
               text-transform: capitalize;
               background: linear-gradient(144deg, $headbar-primary-color-starting-gradient, $headbar-primary-color-ending-gradient);
               border: 2px solid black;
               padding: 5px 10px;
               width: 100%;
          }

          &__headblocks {
               border: 2px solid black;
               width: calc((15px + 20px) / 2);
               height: auto;

               $palletes: ($pallete-primary, $pallete-secondary, $pallete-tertiary);
               @for $i from 1 through 3 {
                    &--pallete-#{$i} {
                         background-color: list.nth($palletes, $i);
                    }
               }
          }
     }

     .about .information {
          display: grid;
          grid-template-columns: 270px 165px;
          grid-template-rows: 315px;
          grid-area: about-information;
          gap: 10px;

          $manual-primary-color: beige;
          $manual-title-color: hsl(240, 14%, 5%);
          $manual-height: 170px;
          .manual {
               display: flex;
               flex-direction: column;
               row-gap: 5px;
               position: relative;
               @include headbars(plt.$flavor-secondary-color, plt.$flavor-primary-color, plt.$flavor-quaternary-color);

               &__body {
                    background-color: $manual-primary-color;
                    background-image: url(../images/decorations/manual/sidecover.webp);
                    background-repeat: repeat-x;
                    background-size: 50%;
                    background-position: 50% -70px;
                    background-attachment: local;
                    border: 2px solid black;
                    height: 100%;
                    padding: 5px 10px;
               }

               &__title {
                    display: flex;
                    align-items: center;
                    font-family: 'Zalando Sans', font.$standard-font;
                    font-size: 1.4rem;
                    font-weight: 900;
                    font-stretch: 120%;
                    text-transform: uppercase;
                    color: $manual-title-color;
                    border: 2px solid $manual-title-color;
                    height: fit-content;
                    padding: 0px 8px;
                    margin-bottom: 0.65cm;
               
                    &::before {
                         content: "";
                         display: inline-block;
                         background-color: currentColor;
                         border-radius: 360px;
                         width: 15px;
                         height: 15px;
                         margin-right: 3px;
                         margin-top: 1px;
                    }
               }

               &__navigation {
                    cursor: pointer;
                    font-size: 1rem;
                    outline: none;
                    background-color: black;
                    border: none;
                    border-radius: 360px;
                    position: absolute;
                    bottom: 8px;
                    width: 24px;
                    height: 24px;

                    &:hover {
                         background-color: plt.$flavor-primary-color;
                    }

                    &:active, &:focus-visible {
                         background-color: plt.$flavor-quaternary-color;
                    }

                    &::selection {
                         background-color: transparent;
                    }
               }

               &__navigation icon-wrap {
                    display: block;
                    position: relative;
                    top: -5px;
                    left: 5px;
               }

               &__navigation icon-text {
                    display: block;
                    line-height: 1;
                    position: absolute;
                    top: 0px;
                    left: 0px;

                    @supports (text-box: inherit) {
                         text-box: trim-both cap text;
                    }
               }

               &__pages {
                    position: relative;

                    h2 {
                         @include mnl.manual__section;
                         color: white;
                         background-color: black;
                    }

                    p {
                         @include mnl.manual__description;
                         font-size: 0.65rem;
                         font-weight: bolder;
                         text-align: justify;
                         line-height: 1.2;
                         color: black;
                         padding: 0px;
                         margin-block: 3px;
                    }
               }
          }

          .manual .biography {
               display: grid;
               grid-template-columns: auto 100px;
               grid-template-rows: auto auto;
               grid-template-areas:
                    "biography-desc biography-category"
                    "biography-rewrite biography-category"
               ;
               gap: 10px;
               margin-top: 3px;
          
               &__desc {
                    grid-area: biography-desc;
               }
          
               &__rewrite {
                    -webkit-user-select: none;
                    user-select: none;
                    place-self: center;
                    grid-area: biography-rewrite;
                    image-rendering: pixelated;
                    margin-bottom: 8px;
               }
          
               &__category {
                    grid-area: biography-category;
                    outline: none;
                    overflow-y: auto;
                    scrollbar-width: none;
                    height: $manual-height;

                    &:focus-visible {
                         background-color: color.adjust($manual-primary-color, $saturation: -8%, $lightness: -8%);
                    }
               }
          
               &__category-item {
                    margin-block: 5px;

                    &:first-child {
                         margin-top: 0px
                    }
               }
          
               &__category-type {
                    @include mnl.manual__section;
                    display: block;
                    font-size: 0.7rem;
                    font-weight: 700;
                    text-align: center;
                    text-transform: none;
                    color: plt.color-contrast(plt.$flavor-primary-color);
                    background-color: plt.$flavor-primary-color;
                    padding: 3px 5px;
                    margin: 0;
          
                    &::before {
                         content: '';
                         margin: 0;
                    }
               }
          
               &__category-info {
                    font-weight: bolder;
                    font-style: italic;
                    text-align: start;
               }
          }

          .manual .facts {
               display: grid;
               grid-template-columns: 78px auto;
               grid-template-rows: 1fr;
               gap: 10px;
               margin-top: 3px;

               &__factpad {
                   display: flex;
                   flex-direction: column;
               }

               &__factpad-title {
                    font-family: 'Archivo', font.$standard-font;
                    font-size: 0.95rem;
                    font-weight: 800;
                    font-stretch: semi-condensed;
                    text-align: center;
                    text-transform: uppercase;
                    color: plt.color-contrast(plt.$flavor-tertiary-color);
                    background-color: plt.$flavor-tertiary-color;
                    padding: calc((3px + 4px) / 2.5) 5px;
               }

               &__factpad-freedom {
                    -webkit-user-select: none;
                    user-select: none;
                    image-rendering: pixelated;
               }

               &__factpad-desc {
                    font-family: 'MS Pixel Serif', font.$standard-font;
                    font-size: 0.55rem;
                    font-weight: normal;
                    padding-inline: 3px;
               }

               --scrollbar-thumb: #{ color.adjust($manual-primary-color, $saturation: -20%, $lightness: -20%) };
               &__list {
                    display: flex;
                    flex-direction: column;
                    row-gap: 3px;
                    list-style-type: disc;
                    outline: none;
                    overflow: hidden auto;
                    scrollbar-width: thin;
                    scrollbar-color: var(--scrollbar-thumb) transparent;
                    height: $manual-height;
                    padding-left: 15px;

                    &:focus-visible {
                         --scrollbar-thumb: #{ color.adjust($manual-primary-color, $saturation: -35%, $lightness: -35%) };
                    }
               
                    &::-webkit-scrollbar {
                         width: 6px;
                    }
               
                    &::-webkit-scrollbar-track {
                         background: transparent;
                    }
               
                    &::-webkit-scrollbar-thumb {
                         background: var(--scrollbar-thumb);
                         border-radius: 4px;
                    }
               }
          
               &__item {
                    font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
                    font-size: calc((0.65rem + 0.7rem) / 2);
                    font-weight: bolder;
                    text-align: start;
                    text-wrap: stable;
                    color: black;
               }
          }

          $gallery-columns: 105px 50px;
          $gallery-rows: 60px 245px;
          .gallery {
               display: grid;
               grid-template-columns: $gallery-columns;
               grid-template-rows: $gallery-rows;
               grid-template-areas: 
                    "information-gallery-displacement information-gallery-displacement"
                    "information-gallery-halls information-gallery-debugmode"
               ;
               gap: 10px;

               & > * {
                    background-color: plt.$flavor-bento-color;
                    border-radius: 5px;
               }

               &__debugmode {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    grid-area: information-gallery-debugmode;
                    background-color: hsl(230, 100%, 42%);
                    background-image: url(../images/decorations/ezgif-5a7b5e452076d43e.gif);
                    background-size: cover;
                    background-position: center top;
                    image-rendering: pixelated;
                    animation: switch-a-roo 20s linear 0s infinite alternate both;

                    @media (prefers-reduced-motion: reduce) {
                         animation-duration: 30s;
                    }
               }

               &__debugmode-text {
                    -webkit-user-select: none;
                    user-select: none;
               }

               &__displacement {
                    grid-area: information-gallery-displacement;
                    background-image: url(https://preview.redd.it/photographs-by-mads-peter-iversen-v0-769lmlbz9dgh1.jpg?width=1080&crop=smart&auto=webp&s=2dbef028941ae17ca7d0395b6aedc91171686ddd);
                    background-size: cover;
                    background-position: center;
                    image-rendering: smooth;
               }

               &__halls {
                    grid-area: information-gallery-halls;
                    background-image: url(https://i.kym-cdn.com/photos/images/original/002/933/366/2f4.jpg);
                    background-size: cover;
                    background-position: center;
                    image-rendering: smooth;
               }

               @keyframes switch-a-roo {
                    from { background-position: 10% top; }
                    to   { background-position: 90% top; }
               }
          }
     }

     .about .interests {
          grid-area: about-interests;
     }
}