@use './modules/shortcuts.scss' as sc;
@use 'sass:color';

@include sc.font-face-var('Archivo', 100 900, 62% 125%, normal, "..", (
     ('woff2', format('woff2-variations')), 
     ('woff2', format('woff2') tech('variations'))
));
@include sc.font-face-var('Lexend', 100 900, normal, normal, "..", (
     ('woff2', format('woff2-variations')), 
     ('woff2', format('woff2') tech('variations'))
));
@include sc.font-face('Candy Beans', "Regular", normal, "..", (
     ('woff2', format('woff2'))
));

body {
     display: flex;
     justify-content: center;
     font-family: sc.$standard-font;
     background-image: url(../images/backgrounds/beach.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: #312e3d;
     background-blend-mode: color-burn;

     #flavory-content {
          display: grid;
          grid-template-columns: auto 900px;
          grid-template-rows: 1fr;
          grid-template-areas:
               "flavory-sidebar flavory-autobiography"
          ;
          gap: 5px;
          margin-block: 0.5cm;
     }

     .sidebar {
          grid-area: flavory-sidebar;
     }

     .autobiography {
          display: grid;
          grid-template-columns: 250px 2fr;
          grid-template-rows: 1fr;
          grid-area: flavory-autobiography;
          background-color: color.adjust(#272525, $lightness: -5%);
          box-shadow: 5px 5px 0px 0px #4f4eff;
          gap: 15px;
          padding: 15px;

          .information {
               @include sc.gradient(45deg, hsl(0, 3%, 15%) 0%, hsl(0, 3%, 10%) 100%);
               

               &__headbar {
                    border-bottom: 2.5px solid hsl(238, 64%, 60%);
                    margin-bottom: 15px;
               }

               &__biography {
                    border: 2.5px solid hsl(238, 64%, 60%);
               }

               .interests {

                    &__headbar {
                         display: grid;
                         grid-template-columns: 1fr;
                         grid-template-rows: 1fr;
                         align-items: center;
                         border-block: 1px solid black;
                         @include sc.gradient(165deg, rgb(85, 85, 85) 0%, rgb(39, 39, 39) 95%);
               
                         & > * {
                              grid-area: 1 / 1;
                         }
                    }
               
                    &__headbar-title {
                         z-index: 1;
                         font-family: sc.$fancy-font;
                         font-size: 0.85rem;
                         font-weight: 700;
                         border-inline: 1px solid black;
                         width: fit-content;
                         padding: 5px 8px;
                         margin-left: 10px;
                         @include sc.gradient(165deg, hsl(90, 100%, 35%) 0%, hsl(91, 68%, 25%) 95%);
                    }
               
                    &__headbar-marquee {
                         font-family: sc.$fancy-font;
                         font-size: 0.75rem;
                         font-style: italic;
                         @include sc.user-select(none);
                    }

                    &__content {
                         font-family: sc.$fancy-font;
                         font-size: 0.7rem;
                         text-align: justify;
                         line-height: 1rem;
                         background-color: color.adjust(#272525, $lightness: -10%);
                         padding: 8px;
                         margin: 8px;
                    }
               
                    &:last-of-type {
                         margin-bottom: 0;
                    }
               }

               /* &__biography {
                    table-layout: fixed;
                    border-collapse: separate;
                    border-spacing: 5px 10px;
                    overflow-wrap: break-word;
                    width: 100%;
               }

               &__biography-row {
                    vertical-align: top;
                    margin-block: 10px;
               }

               &__biography-title {
                    font-size: 0.8rem;
                    font-weight: 800;
                    text-align: center;
                    border: 2px solid #272782;
                    color: rgb(21, 21, 21);
                    padding-block: 3px;
                    @include sc.gradient(180deg, 
                         hsl(240, 100%, 65%) 0%, 
                         hsl(240, 100%, 75%) 5%, 
                         hsl(240, 100%, 65%) 35%, 
                         hsl(240, 60%, 31%) 85%,
                         hsl(240, 72%, 15%) 100%
                    );

                    @supports (corner-top-left-shape: bevel) {
                         border-top-left-radius: 10px;
                         corner-top-left-shape: bevel;
                    }
                    @supports not (corner-top-left-shape: bevel) {
                         border-top-left-radius: 5px;
                         border-bottom-left-radius: 5px;
                    }
               }

               &__biography-description {
                    font-size: 0.7rem;
                    border: 2px solid #272782;
                    @include sc.gradient(180deg,
                         hsl(250, 56%, 18%) 0%,
                         hsl(250, 56%, 11%) 100%
                    );
               }

               &__biography-list {
                    overflow-y: auto;
                    height: 80px;
                    padding-inline: 5px;
                    padding-bottom: 10px;

                    &::-webkit-scrollbar {
                         width: 5px;
                    }
               
                    &::-webkit-scrollbar-track {
                         background: transparent;
                    }
               
                    &::-webkit-scrollbar-thumb {
                         background: #2a2a63;
                         border: 1px solid #272782;
                         border-radius: 0px;
                         @include sc.gradient(180deg,
                              hsl(250, 54%, 32%) 0%,
                              hsl(250, 57%, 45%) 10%,
                              hsl(250, 54%, 32%) 20%,
                              hsl(251, 69%, 19%) 100%
                         );
                    }
               } */
          }

          .blurbs {
               &__header {
                    background-color: color.adjust(#272525, $lightness: -10%);
                    border-radius: 5px;
                    padding: 10px 15px;
                    width: 100%;
               }
          
               &__header-title {
                    font-family: "Archivo", sc.$standard-font;
                    font-size: 1.6rem;
                    font-weight: 900;
                    font-stretch: expanded;
               }

               p {
                    font-family: sc.$fancy-font;
                    font-size: 1rem;
                    text-align: justify;
                    text-rendering: optimizeSpeed;
                    line-height: 1.35rem;
                    padding-inline: 10px;
                    margin-block: 10px;
               }
          }
     }
}