@use './modules/fonts.scss' as font;
@use './modules/palletes.scss' as plt;
@use 'sass:color';

@include font.font-face-var('Archivo', 100 900, 62% 125%, normal, 1, font.$font-source-variable);
@include font.font-face-var('Zalando Sans', 200 900, 75% 125%, normal, 1, font.$font-source-variable);
@include font.font-face-var('Fira Code', 300 700, normal, normal, 1, font.$font-source-variable);
@include font.font-face-var('JetBrains Mono', 100 800, normal, normal, 1, font.$font-source-variable);
@include font.font-face('Trebuchet MS', 500 700, normal, normal, 1, font.$font-source-static);
@include font.font-face('Trebuchet MS', 500 700, normal, italic, 1, font.$font-source-static);
@include font.font-face('MS Pixel Serif', 500 700, normal, normal, 1, font.$font-source-static);
@include font.font-face('Noto Sans Tagalog', 500, normal, normal, 1, font.$font-source-static);

body {
     display: grid;
     justify-content: center;
     grid-template-columns: auto 900px;
     grid-template-rows: 1fr;
     grid-template-areas:
          "flavory-sidebar flavory-blogs"
     ;
     gap: 5px;
     font-family: font.$standard-font;
     background-image: url(../images/backgrounds/apartment.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: plt.$flavor-wallpaper-color;
     background-position-y: center;
     background-blend-mode: color-burn;
     margin-block: 0.5cm;

     .sidebar {
          align-self: flex-start;
          grid-area: flavory-sidebar;
          position: sticky;
          top: 10px;
     }

     .blogs {
          display: grid;
          grid-template-columns: 2fr 3fr;
          grid-template-rows: 250px 3fr;
          grid-template-areas:
               "blogs-gallery blogs-header"
               "blogs-navigation blogs-weblog"
          ;
          grid-area: flavory-blogs;
          gap: 10px;
          background-color: plt.$flavor-content-color;
          box-shadow: 5px 5px 0px 0px plt.$flavor-primary-color;
          height: 150vh;
          padding: 20px;

          .header {
               display: grid;
               grid-template-columns: 3fr 1fr 2fr;
               grid-template-rows: 3fr 75px;
               grid-template-areas:
                    "header-windows header-monachopsis header-pricetag"
                    "header-deathscreen header-monachopsis header-pricetag"
               ;
               grid-area: blogs-header;
               gap: 10px;

               & > * {
                    background-color: plt.$flavor-bento-color;
                    border-radius: 5px;
               }

               .windows {
                    grid-area: header-windows;
                    background-image: url(https://static.wikitide.net/windowswallpaperwiki/c/cf/Bliss.jpg);
                    background-size: cover;
                    background-position: center;
                    background-blend-mode: exclusion;

                    &__screensaver {
                         width: 100%;
                         height: 100%;
                    }

                    $window-main-color: hsl(0, 0%, 75%);
                    $window-outer-border-color: hsl(0, 0%, 0%);
                    $window-inner-border-color: hsl(0, 0%, 100%);
                    &__prompt {
                         background-color: $window-main-color;
                         border: 1px solid $window-main-color;
                         border-bottom-color: $window-outer-border-color;
                         border-right-color: $window-outer-border-color;
                         position: relative;
                         width: 150px;
                         height: 80px;

                         &::before {
                              content: '';
                              border-width: 1px;
                              border-style: solid;
                              border-top-color: $window-inner-border-color;
                              border-left-color: $window-inner-border-color;
                              border-bottom-color: color.change($window-inner-border-color, $lightness: 50%);
                              border-right-color: color.change($window-inner-border-color, $lightness: 50%);
                              position: absolute;
                              width: 100%;
                              height: 100%;
                         }
                    }

                    $window-headbar-starting-color: hsl(240, 100%, 25%);
                    $window-headbar-ending-color: hsl(197, 70%, 56%);
                    &__headbar {
                         user-select: none;
                         -webkit-user-select: none;
                         font-family: 'MS Pixel Serif', font.$standard-font;
                         font-size: 0.6rem;
                         font-weight: bold;
                         background: $window-headbar-starting-color;
                         background: linear-gradient(to right, $window-headbar-starting-color 20%, $window-headbar-ending-color 100%);
                         padding-block: 3px 1px;
                         padding-inline: 5px;
                    }

                    $window-body-text-color: black;
                    &__body {
                         padding: 5px;

                         p {
                              font-family: 'MS Pixel Serif', font.$standard-font;
                              font-size: 0.5rem;
                              color: $window-body-text-color;
                              position: relative;
                              top: 4px;
                              left: 2px;

                              &::selection {
                                   background-color: hsla(219, 79%, 66%, 0.8);
                              }
                         }

                         button-group {
                              user-select: none;
                              -webkit-user-select: none;
                              display: inline-block;
                              position: absolute;
                              right: 8px;
                              bottom: 8px;
                         }

                         button {
                              font-family: 'MS Pixel Serif', font.$standard-font;
                              font-size: 0.5rem;
                              color: $window-body-text-color;
                              background-color: $window-main-color;
                              border: 1px solid $window-main-color;
                              border-bottom-color: $window-outer-border-color;
                              border-right-color: $window-outer-border-color;
                              position: relative;
                              width: 55px;
                              height: 18px;

                              &:hover {
                                   cursor: pointer;
                                   border-color: black;
                              }

                              &:active span {
                                   display: inline-block;
                                   border: 1px dotted black;
                                   width: calc(55px * 0.85);
                                   padding-block: 1px;
                              }
                         
                              &::before {
                                   content: '';
                                   border-width: 1px;
                                   border-style: solid;
                                   border-top-color: $window-inner-border-color;
                                   border-left-color: $window-inner-border-color;
                                   border-bottom-color: color.change($window-inner-border-color, $lightness: 50%);
                                   border-right-color: color.change($window-inner-border-color, $lightness: 50%);
                                   position: absolute;
                                   inset: 0;
                                   width: 100%;
                                   height: 100%;
                              }
                         }
                    }
               }

               .deathscreen {
                    user-select: none;
                    -webkit-user-select: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    grid-area: header-deathscreen;
                    background-color: #000082;
                    padding: 8px;

                    p {
                         font-family: 'MS Pixel Serif', font.$standard-font;
                         font-size: 0.55rem;
                         line-height: 1.3;

                         &:nth-child(1) {
                              margin-bottom: 10px;
                         }
                    }
               }

               $pricetag-primary-color: plt.$flavor-quaternary-color;
               $pricetag-secondary-color: plt.$flavor-tertiary-color;
               .pricetag {
                    user-select: none;
                    -webkit-user-select: none;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    grid-area: header-pricetag;
                    background-color: rgba(0, 0, 0, 0.5);
                    background-image: url(../images/backgrounds/grids.avif);
                    background-attachment: local;
                    background-size: 380%;
                    background-position: 35%;
                    background-blend-mode: color-burn;
                    padding: 8px;

                    & > * {
                         grid-area: 1 / 1;
                    }

                    &__main {
                         z-index: 2;
                         display: flex;
                         flex-direction: column;
                    }

                    &__headbar {
                         display: flex;
                         flex-direction: row;
                         column-gap: 5px;
                    }
                    
                    &__headtitle {
                         font-family: 'Zalando Sans', font.$standard-font;
                         font-size: 1.1rem;
                         font-weight: 700;
                         font-stretch: expanded;
                         text-transform: uppercase;
                         color: $pricetag-primary-color;
                         border: 2px solid $pricetag-primary-color;
                         border-left-width: 10px;
                         padding: 3px 8px;
                         width: 100%;
                    }

                    &__headblocks {
                         border: 2px solid $pricetag-primary-color;
                         width: calc((10px + 18px) / 2);
                         height: auto;
                    }

                    &__subtitle {
                         font-family: 'JetBrains Mono', font.$standard-code-font, font.$standard-font;
                         font-size: 0.65rem;
                         font-weight: 800;
                         color: $pricetag-primary-color;
                         margin-block: 3px;
                    }

                    &__metadata {
                         display: flex;
                         flex-direction: row;
                         align-items: flex-end;
                         justify-content: space-between;
                         margin-block: auto 3px;
                    }

                    &__name {
                         font-family: 'Archivo', font.$standard-font;
                         font-size: 1.1rem;
                         font-weight: 800;
                         color: $pricetag-secondary-color;
                    }

                    &__cost {
                         font-family: 'Archivo', font.$standard-font;
                         font-size: 0.95rem;
                         font-weight: 650;
                         color: $pricetag-primary-color;
                         position: relative;
                         bottom: 1px;
                    }

                    &__barstuff {
                         align-self: flex-end;
                         image-rendering: pixelated;
                    }

                    &__wrapper {
                         z-index: 1;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         overflow: hidden;
                    }

                    $character-filter-main: contrast(130%) brightness(115%) opacity(80%);
                    $character-filter-dropshadow: drop-shadow(5px 2px 0px color.change($pricetag-primary-color, $alpha: 20%));
                    &__character {
                         filter: $character-filter-main $character-filter-dropshadow;
                         image-rendering: smooth;
                    }

                    @media (prefers-reduced-transparency: reduce) {
                         background-color: rgba(0, 0, 0, 0.3);

                         $character-filter-main: contrast(130%) brightness(115%) opacity(100%);
                         $character-filter-dropshadow: drop-shadow(5px 2px 0px color.change($pricetag-primary-color, $alpha: 70%));
                         &__character {
                              filter: $character-filter-main $character-filter-dropshadow;
                         }
                    }
               }

               .monachopsis {
                    grid-area: header-monachopsis;
                    background-image: url(https://preview.redd.it/japanese-subway-stations-v0-5p1icvffsifh1.jpeg?width=1080&crop=smart&auto=webp&s=d98bfc013d99e61d78d1037507247c31dd7a950e);
                    background-size: cover;
                    background-position: center;
               }
          }

          .gallery {
               display: grid;
               grid-template-columns: 1fr 3fr;
               grid-template-rows: 1fr 2fr;
               grid-template-areas:
                    "gallery-anemoia gallery-motivational"
                    "gallery-anemoia gallery-decorations"
               ;
               grid-area: blogs-gallery;
               gap: 10px;

               & > * {
                    background-color: plt.$flavor-bento-color;
                    border-radius: 5px;
               }

               .anemoia {
                    grid-area: gallery-anemoia;
                    background-image: url(https://preview.redd.it/the-place-i-grew-up-western-kansas-v0-tjco5q3lnvfh1.jpeg?width=1080&crop=smart&auto=webp&s=4d29488dd5dd37c50cacdea61680123f2dd3e925);
                    background-size: cover;
                    background-position: center;
                    image-rendering: smooth;
               }

               .motivational {
                    grid-area: gallery-motivational;
                    background-image: url(https://preview.redd.it/more-uncanny-feelings-in-my-photography-v0-7jgm0ul78i5h1.jpg?width=1080&crop=smart&auto=webp&s=890800af6260bd717c7edc76a3095687a749c220);
                    background-size: cover;
                    background-position: center;
                    position: relative;

                    &__message {
                         user-select: none;
                         -webkit-user-select: none;
                         font-family: 'Noto Sans Tagalog', font.$standard-font;
                         font-size: 1rem;
                         font-display: block;
                         text-shadow: 3px 2px 0px black;
                         color: GhostWhite;
                         position: absolute;
                         right: 5px;
                         bottom: 3px;
                    }
               }

               .decorations {
                    display: grid;
                    grid-template-columns: 160px 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas:
                         "gallery-wacky-workbench gallery-dejavu"
                         "gallery-wacky-workbench gallery-floccinaucinihilipilification"
                    ;
                    grid-area: gallery-decorations;
                    gap: 10px;
                    background-color: transparent;
                    border-radius: 0px;

                    & > * {
                         background-color: plt.$flavor-bento-color;
                         border-radius: 5px;
                    }

                    .wacky-workbench {
                         user-select: none;
                         -webkit-user-select: none;
                         display: grid;
                         grid-template-columns: 1fr;
                         grid-template-rows: 1fr;
                         grid-area: gallery-wacky-workbench;
                         overflow: hidden;
                         height: 160px;

                         & > * {
                              image-rendering: pixelated;
                              grid-area: 1 / 1;
                         }

                         &__background {
                              z-index: 1;
                         }

                         &__layout {
                              z-index: 3;
                         }

                         &__sonic {
                              z-index: 2;
                         }
                    }

                    .dejavu {
                         filter: contrast(100%);
                         grid-area: gallery-dejavu;
                         background-image: url(../images/decorations/greenzone.webp);
                         background-size: cover;
                         background-position: center;
                         image-rendering: smooth;
                         animation: contrasting 3s ease-in-out 0s infinite;

                         @keyframes contrasting {
                              0%, 100% { filter: contrast(100%); }
                              50%      { filter: contrast(200%); }
                         }
                    }

                    .floccinaucinihilipilification {
                         grid-area: gallery-floccinaucinihilipilification;
                         background-image: url(../images/decorations/floccinaucinihilipilification.webp);
                         background-size: cover;
                         background-position: left;
                         image-rendering: smooth;
                    }
               }
          }

          .navigation {
               display: grid;
               align-self: flex-start;
               grid-template-columns: 1fr;
               grid-template-rows: 380px 1.5cm;
               grid-template-areas:
                    "navigation-information"
                    "navigation-pagination"
               ;
               grid-area: blogs-navigation;
               row-gap: 10px;
               position: sticky;
               top: 10px;

               & > * {
                    background-color: plt.$flavor-bento-color;
               }

               $information-primary-color: beige;
               .information {
                    grid-area: navigation-information;
                    padding: 8px;

                    .headbar {
                         display: flex;
                         flex-direction: row;
                         column-gap: 5px;

                         &__heading {
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              justify-content: space-between;
                              border: 2px solid $information-primary-color;
                              border-left-width: 10px;
                              padding: 3px 8px;
                              width: 100%;
                         }

                         &__title {
                              font-family: 'Zalando Sans', font.$standard-font;
                              font-size: 1.1rem;
                              font-weight: 700;
                              font-stretch: expanded;
                              text-transform: uppercase;
                              color: $information-primary-color;

                              &::selection {
                                   color: plt.color-contrast($information-primary-color);
                                   background-color: $information-primary-color;
                              }
                         }

                         &__controls {
                              display: flex;
                              flex-direction: row;
                              column-gap: 5px;
                         }

                         &__controls-btn {
                              background-color: inherit;
                              width: 9px;
                              height: 9px;

                              &--close {
                                   background-color: hsl(357, 94%, 60%);
                              }

                              &--minify {
                                   background-color: hsl(42, 100%, 53%);
                              }

                              &--full {
                                   background-color: hsl(89, 96%, 63%);
                              }
                         }

                         &__decorations {
                              display: flex;
                              flex-direction: row;
                              column-gap: 3px;
                         }

                         &__blocks {
                              border: 2px solid $information-primary-color;
                              width: calc((10px + 18px) / 2);
                              height: auto;
                         }
                    }

                    .package {
                         display: flex;
                         flex-direction: column;
                         padding-inline: 1px;
                         margin-block: 5px 10px;

                         &__lines {
                              display: flex;
                              flex-direction: row;
                              justify-content: space-between;
                         }

                         &__psuedocode {
                              user-select: none;
                              -webkit-user-select: none;
                              font-family: 'JetBrains Mono', font.$standard-code-font, font.$standard-font;
                              font-size: 0.65rem;
                              font-weight: 550;
                              text-transform: uppercase;
                              line-height: 1.45;
                              color: white;

                              code-kyw {
                                   color: hsl(1, 74%, 64%);
                              }

                              code-spc {
                                   color: hsl(118, 100%, 78%);
                              }

                              code-pkg {
                                   color: hsl(34, 100%, 65%);
                              }

                              code-data {
                                   color: hsl(208, 100%, 78%);
                              }

                              code-func {
                                   color: hsl(270, 100%, 86%);
                              }
                         }

                         &__barstuff {
                              user-select: none;
                              -webkit-user-select: none;
                              align-self: flex-end;
                              image-rendering: pixelated;
                              margin-top: 5px;
                         }
                    }

                    .manual {
                         display: grid;
                         grid-template-columns: 88px auto;
                         grid-template-rows: 1fr auto;
                         grid-template-areas:
                              "manual-ticket manual-page"
                              "manual-badges manual-page"
                         ;
                         gap: 10px;

                         &__page {
                              grid-area: manual-page;
                              outline: none;
                              overflow-y: auto;
                              height: 257px;
                              padding: 0px 5px 5px 5px;

                              &::-webkit-scrollbar {
                                   width: 3px;
                              }
                              
                              &::-webkit-scrollbar-track {
                                   background: plt.$flavor-scrollbar-background;
                              }
                              
                              &::-webkit-scrollbar-thumb {
                                   background: plt.$flavor-scrollbar-thumb;
                                   border-radius: 0px;
                              }
                              
                              &:focus-visible::-webkit-scrollbar-thumb {
                                   background: color.adjust(plt.$flavor-scrollbar-thumb, $lightness: 10%);
                              }
                         }

                         &__headbar {
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              column-gap: 8px;
                              margin-bottom: 5px;
                         }

                         &__headtitle {
                              user-select: all;
                              font-family: 'Zalando Sans', font.$standard-font;
                              font-size: 1rem;
                              font-weight: 750;
                              font-stretch: semi-expanded;
                              color: plt.color-contrast(plt.$flavor-secondary-color);
                              background-color: plt.$flavor-secondary-color;
                              width: fit-content;
                              padding: 2px 5px 2px 3px;
                              
                              &::before {
                                   content: '\279C';
                                   margin-right: 3px;
                              }
                         }

                         &__headsubtitle {
                              font-family: 'Zalando Sans', font.$standard-font;
                              font-size: 0.9rem;
                              font-weight: 750;
                              font-stretch: semi-expanded;
                              text-transform: uppercase;
                              width: 100%;
                         }

                         &__headings {
                              display: flex;
                              align-items: center;
                              font-family: 'Zalando Sans', font.$standard-font;
                              font-size: 0.8rem;
                              font-weight: 550;
                              font-stretch: semi-condensed;
                              text-transform: uppercase;
                              color: plt.color-contrast(plt.$flavor-primary-color);
                              background-color: plt.$flavor-primary-color;
                              padding: 3px 5px;

                              &::before {
                                   content: "\2605";
                                   margin-right: 3px;
                              }
                         }

                         &__description {
                              font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
                              font-size: 0.75rem;
                              text-align: start;
                              line-height: 1.2;
                              margin-block: 8px;
                         }

                         &__category {
                              counter-reset: type-counter;
                         }

                         &__category-item {
                              --manual-category-item-color: inherit;

                              font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
                              font-size: 0.75rem;
                              font-weight: bolder;
                              text-align: start;
                              margin-block: 5px;

                              &::before {
                                   content: counter(type-counter);
                                   counter-increment: type-counter;
                                   display: inline-block;
                                   font-family: 'Zalando Sans', font.$standard-font;
                                   font-size: 0.95rem;
                                   font-weight: 600;
                                   font-stretch: condensed;
                                   text-align: center;
                                   color: black;
                                   background-color: var(--manual-category-item-color);
                                   border-radius: 360px;
                                   width: 20px;
                                   height: 20px;
                                   margin-right: 5px;
                              }

                              &--casual {
                                   --manual-category-item-color: #{plt.$flavor-primary-color};
                              }

                              &--updates {
                                   --manual-category-item-color: #{plt.$flavor-secondary-color};
                              }

                              &--technical {
                                   --manual-category-item-color: #{plt.$flavor-tertiary-color};
                              }
                         }

                         &__ticket {
                              user-select: none;
                              -webkit-user-select: none;
                              display: flex;
                              flex-direction: column;
                              grid-area: manual-ticket;
                              background: hsl(220, 15%, 10%);
                         }

                         &__ticket-title {
                              font-family: 'Archivo', font.$standard-font;
                              font-size: 1rem;
                              font-weight: 800;
                              font-stretch: semi-condensed;
                              text-align: center;
                              text-transform: uppercase;
                              color: plt.color-contrast(plt.$flavor-tertiary-color);
                              background-color: plt.$flavor-tertiary-color;
                              padding: calc((3px + 4px) / 2.5) 5px;
                         }

                         &__ticket-description {
                              font-family: 'Trebuchet MS' font.$standard-fancy-font, font.$standard-font;
                              font-size: calc((0.50rem + 0.55rem) / 2);
                              font-weight: bolder;
                              text-align: justify;
                              text-justify: inter-word;
                              color: $information-primary-color;
                              padding: 8px 5px;
                         }

                         &__ticket-reminder {
                              align-self: center;
                              image-rendering: pixelated;
                         }

                         &__ticket-decorations {
                              display: flex;
                              flex-direction: column;
                              row-gap: 3px;
                              padding: 5px;
                              margin-top: auto;
                         }

                         &__ticket-blocks {
                              font-size: 0.75rem;
                              font-weight: bolder;
                              color: black;
                              background-color: inherit;
                              height: 15px;
                              padding-left: 3px;

                              &--pallete-1 {
                                   background-color: plt.$flavor-primary-color;
                              }

                              &--pallete-2 {
                                   background-color: plt.$flavor-secondary-color;
                              }

                              &--pallete-3 {
                                   background-color: plt.$flavor-quaternary-color;
                              }
                         }

                         &__badges {
                              display: flex;
                              flex-direction: column;
                              grid-area: manual-badges;
                              row-gap: 5px;

                              img {
                                   user-select: none;
                                   -webkit-user-select: none;
                                   image-rendering: pixelated;
                              }
                         }
                    }
               }

               .pagination {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-area: navigation-pagination;
                    padding: 8px;

                    &__title {
                         font-family: 'Archivo', font.$standard-font;
                         font-size: 1rem;
                         font-weight: 800;
                         font-stretch: semi-expanded;
                         text-transform: lowercase;
                         color: plt.$flavor-secondary-color;
                    }
               }
          }

          .weblog {
               grid-area: blogs-weblog;

               &__directory {
                    table-layout: fixed;
                    border-collapse: collapse;
                    width: 100%;

                    tr > :is(td, th) {
                         border: 1.5px solid hsl(208, 9%, 55%);
                    }

                    tr > th:nth-of-type(1) {
                         width: 80%;
                    }
               }

               $weblog-headbar-starting-color: hsl(240, 100%, 30%);
               $weblog-headbar-ending-color: hsl(200, 100%, 30%);
               &__headbar {
                    background: $weblog-headbar-starting-color;
                    background: linear-gradient(90deg, $weblog-headbar-starting-color 0%, $weblog-headbar-ending-color 100%);
               }

               &__headtitle {
                    font-family: 'Zalando Sans', font.$standard-font;
                    font-size: 0.85rem;
                    font-weight: 600;
                    font-stretch: 120%;
                    text-align: start;
                    color: white;
                    padding: 3px 10px;
               }

               $weblog-rank-starting-color: hsl(0, 0%, 15%);
               $weblog-rank-ending-color: hsl(0, 0%, 5%);
               &__rank {
                    background: $weblog-rank-starting-color;
                    background: linear-gradient(to bottom, $weblog-rank-starting-color 0%, $weblog-rank-ending-color 100%);
               }

               &__ranktitle {
                    font-family: "Archivo", font.$standard-font;
                    font-size: 0.95rem;
                    font-weight: 900;
                    font-stretch: expanded;
                    text-align: start;
                    padding: calc((5px + 8px) / 2) 10px;

                    &::before {
                         content: "\2605";
                         margin-right: 5px;
                    }
               }

               &__pages {
                    background-color: hsl(200, 10%, 6%);

                    & > td:last-of-type {
                         text-align: center;
                    }
               }

               &__pages-information, &__pages-time {
                    overflow-wrap: break-word;
                    padding: 10px;
               }

               &__pages-title {
                    font-family: 'Fira Code', font.$standard-code-font, font.$standard-font;
                    font-size: 1rem;
                    font-weight: 900;
                    font-stretch: expanded;
                    width: 100%;
               }

               $weblog-page-titlelink-color: cornflowerblue;
               &__pages-titlelink {
                    display: block;
                    text-decoration: none;
                    color: $weblog-page-titlelink-color;

                    &:hover, &:focus-visible {
                         text-decoration: underline;
                         text-decoration-thickness: 2px;
                         text-decoration-skip-ink: none;
                    }

                    &:focus-visible {
                         text-decoration-style: double;
                         color: plt.$flavor-secondary-color;
                         outline: none;
                         width: fit-content;
                    }

                    &::selection {
                         color: plt.color-contrast($weblog-page-titlelink-color);
                         background-color: $weblog-page-titlelink-color;
                    }
               }

               &__pages-stickers {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    column-gap: 5px;
               }

               &__pages-tags {
                    --weblog-pages-tag-colors: currentColor;

                    font-family: "Zalando Sans", font.$standard-font;
                    font-size: 0.65rem;
                    font-weight: 750;
                    font-stretch: condensed;
                    text-transform: uppercase;
                    color: white;
                    background-color: black;
                    border: 1px solid var(--weblog-pages-tag-colors);
                    padding: 2px 4px;

                    &::before {
                         content: "";
                         display: inline-block;
                         background-color: var(--weblog-pages-tag-colors);
                         border-radius: 360px;
                         width: 8px;
                         height: 8px;
                         margin-right: 3px;
                    }

                    &::selection {
                         background-color: transparent;
                    }

                    &--casual {
                         --weblog-pages-tag-colors: #{plt.$flavor-primary-color};
                    }

                    &--updates {
                         --weblog-pages-tag-colors: #{plt.$flavor-secondary-color};
                    }

                    &--technical {
                         --weblog-pages-tag-colors: #{plt.$flavor-tertiary-color};
                    }
               }

               &__pages-description {
                    font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
                    font-size: 0.85rem;
                    text-align: start;
                    line-height: 1.2;
                    margin-block: 3px 8px;
               }

               &__pages-date {
                    font-family: "FiraCode", font.$standard-code-font, font.$standard-font;
                    font-size: 0.7rem;
                    background-color: hsla(0, 3%, 29%, 0.5);
                    border-radius: 5px;
                    height: fit-content;
                    padding: 5px 5px 3px 5px;

                    &::selection {
                         background-color: transparent;
                    }
               }
          }
     }
}