@use './modules/fonts.scss' as font;
@use './modules/palletes.scss' as plt;
@use 'sass:color';

@include font.font-face-var('Archivo', 100 900, 62% 125%, normal, 1, font.$font-source-variable);
@include font.font-face-var('Zalando Sans', 200 900, 75% 125%, normal, 1, font.$font-source-variable);
@include font.font-face-var('Fira Code', 300 700, normal, normal, 1, font.$font-source-variable);
@include font.font-face-var('JetBrains Mono', 100 800, normal, normal, 1, font.$font-source-variable);
@include font.font-face('Trebuchet MS', 500 700, normal, normal, 1, font.$font-source-static);
@include font.font-face('Trebuchet MS', 500 700, normal, italic, 1, font.$font-source-static);
@include font.font-face('MS Pixel Serif', 500 700, normal, normal, 1, font.$font-source-static);
@include font.font-face('Noto Sans Tagalog', 500, normal, normal, 1, font.$font-source-static);

html {
     overflow: auto scroll;
     scrollbar-width: auto;
     scrollbar-color: plt.$flavor-scrollbar-thumb black;
     scrollbar-gutter: stable;

     &::-webkit-scrollbar {
          width: auto;
     }

     &::-webkit-scrollbar-track {
          background: black;
     }

     &::-webkit-scrollbar-thumb {
          background: plt.$flavor-scrollbar-thumb;
          border-radius: 0px;
     }
}

body {
     display: grid;
     justify-content: center;
     grid-template-columns: auto min-content;
     grid-template-rows: min-content;
     grid-template-areas: "flavory-sidebar flavory-blogs";
     gap: 5px;
     font-family: font.$standard-font;
     background-image: url(../images/backgrounds/apartment.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: plt.$flavor-wallpaper-color;
     background-position-y: center;
     background-blend-mode: color-burn;
     margin-block: 0.5cm;

     @media screen and (width <= 845px) {
          min-width: 845px;
     }

     .sidebar {
          grid-area: flavory-sidebar;
          position: sticky;
          top: 0;
     }

     .blogs {
          display: grid;
          grid-template-columns: repeat(2, 445px);
          grid-template-rows: auto 1fr;
          grid-template-areas: 
               "blogs-gallery blogs-weblogs"
               "blogs-coverage blogs-weblogs"
          ;
          grid-area: flavory-blogs;
          gap: 15px;
          background-color: plt.$flavor-content-color;
          box-shadow: 5px 5px 0px 0px color.change(plt.$flavor-quaternary-color, $alpha: 0.75);
          padding: 20px;

          @media screen and (width <= 1305px) {
               grid-template-columns: 445px;
               grid-template-rows: 1fr;
               grid-template-areas:
                    "blogs-coverage"
                    "blogs-weblogs"
                    "blogs-gallery"
               ;
               gap: 10px;
          }
     }

     .blogs .gallery {
          display: grid;
          grid-template-columns: 245px 1fr;
          grid-template-rows: 165px 85px;
          grid-template-areas: 
               "gallery-windowsXP gallery-b"
               "gallery-windowsERR gallery-b"
          ;
          grid-area: blogs-gallery;
          gap: 10px;

          & > * {
               background-color: plt.$flavor-bento-color;
               border-radius: 5px;
          }

          .windowsXP {
               grid-area: gallery-windowsXP;
               background-image: url(https://static.wikitide.net/windowswallpaperwiki/c/cf/Bliss.jpg);
               background-size: cover;
               background-position: center;
               background-blend-mode: exclusion;
               image-rendering: -moz-crisp-edges;
               image-rendering: crisp-edges;

               &__wrapper, &__subwrapper {
                    width: 100%;
                    height: 100%;
               }

               $window-main-color: hsl(0, 0%, 75%);
               $window-outer-border-color: hsl(0, 0%, 0%);
               $window-inner-border-color: hsl(0, 0%, 100%);
               &__prompt {
                    background-color: $window-main-color;
                    border: 1px solid $window-main-color;
                    border-bottom-color: $window-outer-border-color;
                    border-right-color: $window-outer-border-color;
                    position: relative;
                    width: 150px;
                    height: 80px;

                    &::before {
                         content: '';
                         border-width: 1px;
                         border-style: solid;
                         border-top-color: $window-inner-border-color;
                         border-left-color: $window-inner-border-color;
                         border-bottom-color: color.change($window-inner-border-color, $lightness: 50%);
                         border-right-color: color.change($window-inner-border-color, $lightness: 50%);
                         position: absolute;
                         width: 100%;
                         height: 100%;
                    }
               }

               $window-headbar-starting-color: hsl(240, 100%, 25%);
               $window-headbar-ending-color: hsl(204, 70%, 56%);
               &__title {
                    -webkit-user-select: none;
                    user-select: none;     
                    font-family: 'MS Pixel Serif', font.$standard-font;
                    font-size: 0.65rem;
                    font-weight: bold;
                    background: linear-gradient(to right, $window-headbar-starting-color 20%, $window-headbar-ending-color 100%);
                    padding-block: 3px 1px;
                    padding-inline: 5px;
               }

               &__body {
                    padding: 5px;
               }

               &__body p {
                    font-family: 'MS Pixel Serif', font.$standard-font;
                    font-size: 0.55rem;
                    color: plt.color-contrast($window-main-color);
                    position: relative;
                    top: 4px;
                    left: 2px;
               
                    &::selection {
                         background-color: hsla(219, 79%, 66%, 0.8);
                    }
               }

               &__body button-group {
                    -webkit-user-select: none;
                    user-select: none;
                    display: inline-block;
                    position: absolute;
                    right: 8px;
                    bottom: 8px;
               }

               &__body button {
                    font-family: 'MS Pixel Serif', font.$standard-font;
                    font-size: 0.55rem;
                    color: plt.color-contrast($window-main-color);
                    background-color: $window-main-color;
                    border: 1px solid $window-main-color;
                    border-bottom-color: $window-outer-border-color;
                    border-right-color: $window-outer-border-color;
                    position: relative;
                    width: 55px;
                    height: 18px;
               
                    @supports (text-box: inherit) {
                         text-box: trim-both cap alphabet;
                    }
               
                    &:hover {
                         cursor: pointer;
                         border-color: black;
                    }
               
                    &:active button-text {
                         display: inline-block;
                         border: 1px dotted black;
                         width: calc(55px * 0.85);
                    }
               
                    &::before {
                         content: '';
                         border-width: 1px;
                         border-style: solid;
                         border-top-color: $window-inner-border-color;
                         border-left-color: $window-inner-border-color;
                         border-bottom-color: color.change($window-inner-border-color, $lightness: 50%);
                         border-right-color: color.change($window-inner-border-color, $lightness: 50%);
                         position: absolute;
                         inset: 0;
                         width: 100%;
                         height: 100%;
                    }
               }
          }

          .windowsERR {
               -webkit-user-select: none;
               user-select: none;
               display: flex;
               flex-direction: column;
               justify-content: center;
               grid-area: gallery-windowsERR;
               background-color: hsl(240, 100%, 25%);
               padding: 8px 10px;
          
               p {
                    font-family: 'MS Pixel Serif', font.$standard-font;
                    font-size: calc((0.55rem + 0.60rem) / 2);
                    line-height: 1.3;
          
                    &:nth-child(1) {
                         margin-bottom: 10px;
                    }
               }
          }

          .b {
               display: grid;
               grid-template-columns: 1fr 2fr;
               grid-template-rows: 60px 2fr 1fr;
               grid-template-areas: 
                    "b-q b-q"
                    "b-w b-e"
                    "b-w b-r"
               ;
               grid-area: gallery-b;
               gap: 10px;
               background-color: transparent;
               border-radius: 5px;

               & > * {
                    background-color: plt.$flavor-bento-color;
                    border-radius: 5px;
               }

               .q {
                    grid-area: b-q;
               }

               .w {
                    grid-area: b-w;
               }

               .e {
                    grid-area: b-e;
               }

               .r {
                    grid-area: b-r;
               }
          }
     }

     .blogs .coverage {
          display: grid;
          grid-template-columns: 1fr 340px;
          grid-template-rows: 1fr;
          grid-template-areas: "coverage-a coverage-b";
          grid-area: blogs-coverage;
          gap: 10px;

          .a {
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: 95px 1fr;
               grid-area: coverage-a;
               gap: 10px;
               border-radius: 5px;

               & > * {
                    background-color: plt.$flavor-bento-color;
                    border-radius: 5px;
               }
          }

          .b {
               grid-area: coverage-b;
               background-color: plt.$flavor-bento-color;
          }
     }

     .blogs .weblogs {
          grid-area: blogs-weblogs;
     }
}