@use './modules/shortcuts.scss' as sc;
@use 'sass:color';

body {
     display: flex;
     justify-content: center;
     font-family: sc.$standard-font;
     background-image: url(../images/backgrounds/locker_room.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: #312e3d; //#312e3d
     background-blend-mode: color-burn;

     #flavory-content {
          display: grid;
          grid-template-columns: auto 900px;
          grid-template-rows: 1fr;
          grid-template-areas:
               "flavory-sidebar flavory-blogs"
          ;
          gap: 5px;
          margin-block: 0.5cm;
     }

     .sidebar {
          grid-area: flavory-sidebar;
     }

     .blogs {
          display: flex;
          flex-direction: column;
          grid-area: flavory-blogs;
          background-color: color.adjust(#272525, $lightness: -5%);
          box-shadow: 5px 5px 0px 0px #4f4eff;
          padding: 20px;
          height: 110vh;

          &__navigation {
               margin-bottom: 10px;
          }
     
          &__navigation-list {
               display: flex;
               flex-direction: row;
               border: 1px solid black;
               width: 100%;
               @include sc.gradient(165deg, rgb(85, 85, 85) 0%, rgb(39, 39, 39) 95%);
          }
     
          --item-colorpoint-start: hsl(0, 0%, 43%);
          --item-colorpoint-end: hsl(0, 0%, 25%);
          &__navigation-item {
               cursor: pointer;
               border-right: 1px solid black;
               padding: 8px 10px;
     
               &--selected {
                    --item-colorpoint-start: rgb(85, 125, 201);
                    --item-colorpoint-end: rgb(39, 57, 91);
                    cursor: not-allowed;
                    @include sc.gradient(165deg, rgb(85, 125, 201) 0%, rgb(39, 57, 91) 95%);
               }
     
               &:hover {
                    @include sc.gradient(165deg, var(--item-colorpoint-start) 0%, var(--item-colorpoint-end) 95%);
               }
          }
     
          &__navigation-item-btn {
               cursor: inherit;
               font-family: sc.$fancy-font;
               font-size: 1rem;
               font-weight: 600;
               text-decoration: none;
               background: none;
               border: none;
               color: currentColor;
     
               &:disabled {
                    color: inherit;
               }
     
               &:focus-within {
                    background-color: cornflowerblue;
                    outline: none;
                    color: black;
               }
          }

          &__pagination {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-between;
               font-size: 0.8rem;
               border: 1px solid color.adjust(#6b6b6b, $lightness: -10%);
               padding: 3px 8px;
               margin-top: auto
          }

          &__pagination-pages {
               display: inline-flex;
          }

          &__pagination-pages-title, &__pagination-nav-title {
               font-weight: bolder;
          }

          &__pagination-pages-title {
               margin-right: 10px;
          }

          &__pagination-pages-list {
               display: flex;
               flex-direction: row;
               gap: 10px;
          }

          &__pagination-pages-btn, &__pagination-nav-btn {
               cursor: pointer;
               text-decoration: underline;
               background: none;
               border: none;
               color: cornflowerblue;

               &--current {
                    cursor: auto;
                    color: currentColor;
                    text-decoration: none;
                    font-weight: bolder;
               }
               &--nil {
                    cursor: not-allowed;
                    color: grey;
                    text-decoration: none;
               }
          }

          &__pagination-nav {
               display: flex;
               flex-direction: row;
               gap: 10px;
          }
     }
}