@use './modules/fonts.scss' as font;
@use 'sass:list';
@use 'sass:math';

@include font.font-face-var('Archivo', 100 900, 62% 125%, normal, 1, font.$font-source-variable);
@include font.font-face-var('Zalando Sans', 200 900, 75% 125%, normal, 1, font.$font-source-variable);
@include font.font-face('Eurostile Pro', 900, normal, normal, 1, font.$font-source-static);
@include font.font-face('Trebuchet MS', 500 700, normal, normal, 1, font.$font-source-static);
@include font.font-face('Trebuchet MS', 500 700, normal, italic, 1, font.$font-source-static);

body {
     display: grid;
     justify-content: center;
     grid-template-columns: auto min-content;
     grid-template-rows: min-content;
     grid-template-areas:
          "flavory-sidebar flavory-home"
     ;
     gap: 20px 5px;
     font-family: font.$standard-font;
     background-image: url(../images/backgrounds/grasslands.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: #312e3d;
     background-blend-mode: color-burn;
     margin-block: 0.5cm;

     .sidebar {
          grid-area: flavory-sidebar;
     }

     .home {
          display: grid;
          grid-template-columns: repeat(2, 445px);
          grid-template-rows: 380px 250px;
          grid-area: flavory-home;
          gap: 10px 15px;
          background-color: hsl(0, 3%, 10%);
          box-shadow: 5px 5px 0px 0px #4f4eff;
          padding: 20px;
     }
}