@use './modules/bloglists.scss' as *;
@use './modules/shortcuts.scss' as sc;
@use 'sass:color';

@include sc.font-face-var('Archivo', 62% 125%, normal, 100 900);
@include sc.font-face-var('Fira Code', normal, normal, 300 700);
@include sc.font-face-var('Lexend', normal, normal, 100 900);
@include sc.font-face('Kimberley', 'Kimberley-', normal, "Black");

body {
     display: flex;
     justify-content: center;
     font-family: sc.$standard-font;
     background-image: url(../images/backgrounds/grasslands.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-color: #312e3d;
     background-blend-mode: color-burn;

     #flavory-content {
          display: grid;
          grid-template-columns: auto 900px;
          grid-template-rows: auto-fill 1fr 1fr;
          grid-template-areas:
               "flavory-header flavory-header"
               "flavory-sidebar flavory-main"
          ;
          gap: 20px 5px;
          margin-block: 0.5cm;
     }

     .header {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          grid-area: flavory-header;

          &__characters {
               display: flex;
               flex-direction: row;
               gap: 20px;
          }

          &__characters-profile {
               &--metal {
                    @include sc.box-shadow(#001073, 5px 5px, 0px, 0px);
               }
               &--sonic {
                    @include sc.box-shadow(#0e41b7, 5px 5px, 0px, 0px);
               }
               &--amy {
                    @include sc.box-shadow(#ce5592, 5px 5px, 0px, 0px);
               }
          }
     }

     .sidebar {
          grid-area: flavory-sidebar;
          justify-self: flex-end;
     }

     .main {
          grid-area: flavory-main;
          background-color: color.adjust(#272525, $lightness: -5%);
          height: fit-content;
          padding: 20px;
          @include sc.box-shadow(#4f4eff, 5px 5px, 0px, 0px);

          &__header {
               font-family: "Archivo", sc.$standard-font;
               font-size: 1.6rem;
               font-weight: 900;
               font-stretch: expanded;
               background-color: color.adjust(#272525, $lightness: -10%);
               border-radius: 5px;
               padding: 10px 15px;
               width: 100%;
          }

          &__description {
               margin-bottom: 30px; // lol
          }

          &__para {
               font-family: sc.$fancy-font;
               font-size: 0.95rem;
               text-wrap: pretty;
               text-align: justify;
               text-rendering: optimizeSpeed;
               line-height: 1.5rem;
               padding-inline: 10px;
               margin-block: 10px;

               &::before {
                    content: '> ';
               }
          }
     }
}