@use './modules/flavors.scss' as flv;
@use 'sass:map';
@use 'sass:color';

// ----------------------------------------------------
// == COLOR PALETTE ARCHITECTURE ==
// ----------------------------------------------------

:root {
     --clr-reset--selection: dodgerblue;
     --clr-reset--scrollbar-thumb: #{ color.adjust(map.get(flv.$scrollbar, 'thumb'), $saturation: 5%) };
     --clr-reset--scrollbar-track: #{ color.change(map.get(flv.$scrollbar, 'track'), $alpha: 1) };
}

// ----------------------------------------------------
// == MAIN ==
// ----------------------------------------------------

*, *::before, *::after {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

html {
     -moz-text-size-adjust: none;
     -webkit-text-size-adjust: none;
     text-size-adjust: none;
     overflow: auto scroll;
     scrollbar-width: auto;
     scrollbar-color: var(--clr-reset--scrollbar-thumb) var(--clr-reset--scrollbar-track);
     scrollbar-gutter: stable;

     &::-webkit-scrollbar {
          width: 15px;
     }

     &::-webkit-scrollbar-track {
          background: black;
     }

     &::-webkit-scrollbar-thumb {
          background: var(--clr-reset--scrollbar-thumb);
          border: 4px solid black;
          border-radius: 10px;
     }
}

p, pre {
     font-display: swap;
}

ol, ul {
     list-style: none;
}

::selection {
     background-color: var(--clr-reset--selection);
}