@use '../../modules/fonts.scss' as font;
@use '../../modules/palletes.scss' as plt;
@use '../../modules/structure.scss' as sct;
@use 'sass:color';

$details-headbar-base-color: beige;
$details-headbar-bg-color: $details-headbar-base-color;
$details-headbar-txt-color: plt.color-contrast($details-headbar-base-color);
.subdetails {
     &__headbar {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto auto auto;
          grid-template-areas:
               "headbar-decorations"
               "headbar-title"
               "headbar-blocks"
          ;
          gap: 5px;
     }

     &__headbar-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          grid-area: headbar-title;
          font-family: 'Noto Sans Tagalog', font.$standard-font;
          font-size: 1.35rem;
          -webkit-text-stroke-width: 1px;
          color: $details-headbar-base-color;
          border: 2px solid $details-headbar-base-color;
          border-bottom-width: 15px;
          padding: 3px 5px;
     }

     &__headbar-title chars-bbyn {
          line-height: 1;

          @for $chars from 1 through 4 {
               &:nth-child(#{$chars}) {
                    margin-bottom: if(sass($chars % 2 == 0): 5px; else: 0px);
               }
          }
     }

     &__headbar-blocks {
          grid-area: headbar-blocks;
          background-color: $details-headbar-base-color;
          height: 15px;
     }

     &__headbar-decorations {
          display: flex;
          flex-direction: row;
          grid-area: headbar-decorations;
          gap: sct.midpoint(3px, 4px);
          width: 100%;
     }

     &__headbar-slabs {
          background-color: $details-headbar-base-color;
          height: 10px;

          &--pallete-1 {
               flex-grow: 3;
               background-color: plt.$flavor-secondary-color;
          }

          &--pallete-2 {
               flex-grow: 4;
               background-color: plt.$flavor-primary-color;
          }
     }

     $batch-base-color: plt.$flavor-tertiary-color;
     $batch-bg-color: $batch-base-color;
     $batch-txt-color: plt.color-contrast($batch-base-color);

     &__batch {
          display: flex;
          flex-direction: column;
          gap: 3px;
          margin-bottom: auto;
     }

     &__batch-main {
          display: flex;
          background-color: $batch-base-color;
          height: 1cm;
     }

     &__batch-title {
          font-family: 'Fira Code', font.$standard-code-font, font.$standard-font;
          font-size: 0.75rem;
          font-weight: 800;
          text-align: start;
          color: $batch-txt-color;
          padding: 1px 3px;
          margin-top: auto;
          margin-left: auto;
     }

     &__batch-slabs {
          background-color: $batch-base-color;
          height: 5px;

          &:last-child {
               height: calc(5px * 0.75);
          }
     }
}