@use '../../modules/built-in/math.scss' as ex-math;
@use '../../modules/fonts.scss' as font;
@use '../../modules/palletes.scss' as plt;
@use '../../modules/structure.scss' as sct;
@use 'sass:color';

$color-palletes-primary: plt.$flavor-primary-color;
$color-palletes-secondary: plt.$flavor-secondary-color;
$color-palletes-primary-contrast: plt.color-contrast(plt.$flavor-primary-color);
$color-palletes-secondary-contrast: plt.color-contrast(plt.$flavor-secondary-color);

$color-biography-headbar-base: beige;
$color-biography-headbar-text-select: plt.color-contrast($color-biography-headbar-base);

$color-scrollbar-thumb-base: plt.$flavor-scrollbar-thumb;
$color-scrollbar-track-base: plt.$flavor-scrollbar-track;

:root {
     --color-scrollbar-thumb-base: #{ $color-scrollbar-thumb-base };
     --color-scrollbar-track-base: #{ $color-scrollbar-track-base };
}

.about .profile .biography {
     &__headbar {
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-template-rows: auto auto;
          grid-template-areas:
               "headbar-blocks headbar-title"
               "headbar-decorations headbar-decorations"
          ;
          gap: 5px;
          margin-bottom: 10px;
     }

     &__headbar-blocks {
          grid-area: headbar-blocks;
          background-color: $color-biography-headbar-base;
     }

     &__headbar-title {
          grid-area: headbar-title;
          font-family: 'Archivo', font.$standard-font;
          font-size: 1.3rem;
          font-weight: 800;
          font-stretch: semi-expanded;
          text-transform: uppercase;
          color: $color-biography-headbar-base;
          border: 2px solid $color-biography-headbar-base;
          border-left-width: 10px;
          padding: 3px 10px;

          &::selection {
               color: $color-biography-headbar-text-select;
               background-color: $color-biography-headbar-base;
          }
     }

     &__headbar-decorations {
          display: flex;
          flex-direction: row;
          grid-area: headbar-decorations;
          gap: 5px;
          width: 100%;
     }

     &__headbar-slabs {
          background-color: $color-biography-headbar-base;
          height: 10px;

          &--pallete-1 {
               flex-grow: 2;
               background-color: $color-palletes-primary;
          }

          &--pallete-2 {
               flex-grow: 1;
               background-color: $color-palletes-secondary;
          }
     }

     &__body {
          --color-scrollbar-thumb: var(--color-scrollbar-thumb-base);
          --color-scrollbar-track: var(--color-scrollbar-track-base);
          outline: none;
          overflow-y: auto;
          height: 275px;
          scrollbar-width: thin;
          scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
          padding: 5px 5px 5px 0px;

          &:focus-visible {
               --color-scrollbar-thumb: #{ color.adjust($color-scrollbar-thumb-base, $lightness: 13%) };
          }
          
          &::-webkit-scrollbar {
               width: 6px;
          }
          
          &::-webkit-scrollbar-track {
               background: var(--color-scrollbar-track);
          }
          
          &::-webkit-scrollbar-thumb {
               background: var(--color-scrollbar-thumb);
               border-radius: 4px;
          }

          h3 {
               display: flex;
               align-items: center;
               font-family: 'Zalando Sans', font.$standard-font;
               font-size: 0.8rem;
               font-weight: 650;
               font-stretch: semi-condensed;
               text-transform: uppercase;
               color: $color-palletes-primary-contrast;
               background-color: $color-palletes-primary;
               padding: 3px 5px;

               &::before {
                    content: "\2605";
                    margin-right: 3px;
               }
          }

          p {
               font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
               font-size: ex-math.midpoint(0.75rem, 0.90rem);
               text-align: start;
               text-wrap: pretty;
               text-rendering: optimizeSpeed;
               line-height: 1rlh;
               padding-inline: 3px;
               margin-block: 10px;
          }
     }

     &__heading {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          margin-bottom: 5px;
     }

     &__heading-title {
          -webkit-user-select: all;
          user-select: all;
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 1rem;
          font-weight: 750;
          font-stretch: semi-expanded;
          color: $color-palletes-secondary-contrast;
          background-color: $color-palletes-secondary;
          width: fit-content;
          padding: 2px 5px 2px 3px;

          &::before {
               content: '\2726';
               margin-right: 3px;
          }
     }

     &__heading-subtitle {
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 0.9rem;
          font-weight: 750;
          font-stretch: semi-expanded;
          text-transform: uppercase;
     }

     &__heading-section {
          display: flex;
          align-items: center;
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 0.8rem;
          font-weight: 650;
          font-stretch: semi-condensed;
          text-transform: uppercase;
          color: $color-palletes-primary-contrast;
          background-color: $color-palletes-primary;
          padding: 3px 5px;

          &::before {
               content: "\2605";
               margin-right: 3px;
          }
     }

     &__heading-desc {
          font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
          font-size: ex-math.midpoint(0.75rem, 0.80rem);
          text-align: start;
          text-wrap: pretty;
          text-rendering: optimizeSpeed;
          line-height: normal;
          padding-inline: 3px;
          margin-block: 10px;
     }
}