@use '../../modules/built-in/math.scss' as ex-math;
@use '../../modules/built-in/color.scss' as ex-color;
@use '../../modules/fonts.scss' as font;
@use '../../modules/flavors.scss' as flv;
@use '../../modules/structure.scss' as sct;
@use 'sass:map';
@use 'sass:color';

$clr-palettes-primary:   map.get(flv.$palettes, 'primary');
$clr-palettes-secondary: map.get(flv.$palettes, 'secondary');
$clr-palettes-quaternary: map.get(flv.$palettes, 'quaternary');
$clr-palettes-primary-contrast:   map.get(flv.$palettes-contrast, 'primary');
$clr-palettes-secondary-contrast: map.get(flv.$palettes-contrast, 'secondary');
$clr-palettes-quaternary-contrast: map.get(flv.$palettes-contrast, 'quaternary');

$clr-autobiography-headbar: beige;
$clr-autobiography-headbar-contrast: ex-color.contrast($clr-autobiography-headbar);
$clr-autobiography-scrollbar-thumb: map.get(flv.$scrollbar, 'thumb');
$clr-autobiography-scrollbar-track: map.get(flv.$scrollbar, 'track');

$clr-manual: beige;
$clr-manual-contrast: ex-color.contrast($clr-manual);
$clr-manual-title: hsl(240deg, 14%, 5%);
$clr-manual-border: hsl(0deg, 0%, 0%);
$clr-manual-navig: hsl(0deg, 0%, 0%);
$clr-manual-navig-hover: color.scale($clr-palettes-primary, $saturation: 5%);
$clr-manual-navig-focus: color.scale($clr-palettes-quaternary, $saturation: 5%);
$clr-manual-heading: black;
$clr-manual-heading-contrast: ex-color.contrast($clr-manual-heading);

$clr-biography-category-type: $clr-palettes-primary;
$clr-biography-category-type-contrast: ex-color.contrast($clr-biography-category-type);

$clr-fact-factpad: $clr-palettes-primary;
$clr-fact-factpad-contrast: ex-color.contrast($clr-fact-factpad);
$clr-fact-list-scrollbar-thumb: color.scale($clr-manual, $saturation: -25%, $lightness: -20%);
$clr-fact-list-scrollbar-track: transparent;
:root {
     --clr-palettes-primary:   #{ $clr-palettes-primary };
     --clr-palettes-secondary: #{ $clr-palettes-secondary };
     --clr-palettes-primary-contrast:   #{ $clr-palettes-primary-contrast };
     --clr-palettes-secondary-contrast: #{ $clr-palettes-secondary-contrast };
}

.about .profile .autobiography {
     --clr-autobiography-headbar:          #{ $clr-autobiography-headbar };
     --clr-autobiography-headbar-contrast: #{ $clr-autobiography-headbar-contrast };
     --clr-autobiography-scrollbar-thumb: #{ $clr-autobiography-scrollbar-thumb };
     --clr-autobiography-scrollbar-track: #{ $clr-autobiography-scrollbar-track };

     &__headbar {
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-template-rows: auto auto;
          grid-template-areas:
               "headbar-blocks headbar-title"
               "headbar-decorations headbar-decorations"
          ;
          gap: 5px;
          margin-bottom: 10px;
     }

     &__headbar-blocks {
          grid-area: headbar-blocks;
          background-color: var(--clr-autobiography-headbar);
     }

     &__headbar-title {
          grid-area: headbar-title;
          font-family: 'Archivo', font.$standard-font;
          font-size: 1.3rem;
          font-weight: 800;
          font-stretch: semi-expanded;
          text-transform: uppercase;
          color: var(--clr-autobiography-headbar);
          border: 2px solid var(--clr-autobiography-headbar);
          border-left-width: 10px;
          padding: 3px 10px;

          &::selection {
               color: var(--clr-autobiography-headbar-contrast);
               background-color: var(--clr-autobiography-headbar);
          }
     }

     &__headbar-decorations {
          display: flex;
          flex-direction: row;
          grid-area: headbar-decorations;
          gap: 5px;
          width: 100%;
     }

     &__headbar-slabs {
          background-color: var(--clr-autobiography-headbar);
          height: 10px;

          &--palette-1 {
               flex-grow: 2;
               background-color: var(--clr-palettes-primary);
          }

          &--palette-2 {
               flex-grow: 1;
               background-color: var(--clr-palettes-secondary);
          }
     }

     &__body {
          --clr-scrollbar-thumb: var(--clr-autobiography-scrollbar-thumb);
          --clr-scrollbar-track: var(--clr-autobiography-scrollbar-track);
          outline: none;
          overflow-y: auto;
          height: 275px;
          scrollbar-width: thin;
          scrollbar-color: var(--clr-scrollbar-thumb) var(--clr-scrollbar-track);
          padding: 5px 5px 5px 0px;

          &:focus-visible {
               --clr-scrollbar-thumb: #{ color.adjust($clr-autobiography-scrollbar-thumb, $lightness: 13%) };
          }
          
          &::-webkit-scrollbar {
               width: 6px;
          }
          
          &::-webkit-scrollbar-track {
               background: var(--clr-scrollbar-track);
          }
          
          &::-webkit-scrollbar-thumb {
               background: var(--clr-scrollbar-thumb);
               border-radius: 4px;
          }

          h3 {
               display: flex;
               align-items: center;
               font-family: 'Zalando Sans', font.$standard-font;
               font-size: 0.8rem;
               font-weight: 650;
               font-stretch: semi-condensed;
               text-transform: uppercase;
               color: var(--clr-palettes-primary-contrast);
               background-color: var(--clr-palettes-primary);
               padding: 3px 5px;

               &::before {
                    content: "\2605";
                    margin-right: 3px;
               }
          }

          p {
               font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
               font-size: ex-math.midpoint(0.75rem, 0.90rem);
               text-align: start;
               text-wrap: pretty;
               text-rendering: optimizeSpeed;
               line-height: 1rlh;
               padding-inline: 3px;
               margin-block: 10px;
          }
     }

     &__heading {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          margin-bottom: 5px;
     }

     &__heading-title {
          -webkit-user-select: all;
          user-select: all;
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 1rem;
          font-weight: 750;
          font-stretch: semi-expanded;
          color: var(--clr-palettes-secondary-contrast);
          background-color: var(--clr-palettes-secondary);
          width: fit-content;
          padding: 2px 5px 2px 3px;

          &::before {
               content: '\2726';
               margin-right: 3px;
          }
     }

     &__heading-subtitle {
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 0.9rem;
          font-weight: 750;
          font-stretch: semi-expanded;
          text-transform: uppercase;
     }

     &__heading-section {
          display: flex;
          align-items: center;
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 0.8rem;
          font-weight: 650;
          font-stretch: semi-condensed;
          text-transform: uppercase;
          color: var(--clr-palettes-primary-contrast);
          background-color: var(--clr-palettes-primary);
          padding: 3px 5px;

          &::before {
               content: "\2605";
               margin-right: 3px;
          }
     }

     &__heading-desc {
          font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
          font-size: ex-math.midpoint(0.75rem, 0.80rem);
          text-align: start;
          text-wrap: pretty;
          text-rendering: optimizeSpeed;
          line-height: normal;
          padding-inline: 3px;
          margin-block: 10px;
     }
}

$manual-content-height: 170px;
.about .information .manual {
     --clr-manual:          #{ $clr-manual };
     --clr-manual-contrast: #{ $clr-manual-contrast };
     --clr-manual-title:    #{ $clr-manual-title };
     --clr-manual-border:   #{ $clr-manual-border };
     --clr-manual-navig:       #{ $clr-manual-navig };
     --clr-manual-navig-hover: #{ $clr-manual-navig-hover };
     --clr-manual-navig-focus: #{ $clr-manual-navig-focus };
     --clr-manual-heading:          #{ $clr-manual-heading };
     --clr-manual-heading-contrast: #{ $clr-manual-heading-contrast };

     &__body {
          background: var(--clr-manual) 50% -70px / 50% repeat-x local;
          background-image: url(../../../images/decorations/manual/sidecover.png);
          border: 2px solid var(--clr-manual-border);
          height: 100%;
          padding: 5px 10px;
     }

     &__title {
          display: flex;
          align-items: center;
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 1.4rem;
          font-weight: 900;
          font-stretch: 120%;
          text-transform: uppercase;
          color: var(--clr-manual-title);
          border: 2px solid var(--clr-manual-title);
          height: fit-content;
          padding: 0px 8px;
          margin-bottom: 0.65cm;

          &::before {
               content: "";
               display: inline-block;
               background-color: currentColor;
               border-radius: 360px;
               width: 15px;
               height: 15px;
               margin-right: 3px;
               margin-top: 1px;
          }
     }

     &__navigation {
          cursor: pointer;
          font-size: 1rem;
          outline: none;
          background-color: var(--clr-manual-navig);
          border: none;
          border-radius: 360px;
          position: absolute;
          bottom: 8px;
          width: 24px;
          height: 24px;

          &:hover {
               background-color: var(--clr-manual-navig-hover);
          }

          &:active, &:focus-visible {
               background-color: var(--clr-manual-navig-focus);
          }

          &::selection {
               background-color: transparent;
          }
     }

     &__navigation icon-wrap {
          display: block;
          position: relative;
          top: -5px;
          left: 5px;
     }

     &__navigation icon-text {
          display: block;
          line-height: 1;
          position: absolute;
          top: 0px;
          left: 0px;

          @supports (text-box: inherit) {
               text-box: trim-both cap text;
          }
     }

     &__pages {
          position: relative;

          h2 {
               display: flex;
               align-items: center;
               font-family: 'Zalando Sans', font.$standard-font;
               font-size: 0.8rem;
               font-weight: 650;
               font-stretch: semi-condensed;
               text-transform: uppercase;
               color: var(--clr-manual-heading-contrast);
               background-color: var(--clr-manual-heading);
               padding: 3px 5px;

               &::before {
                    content: "\2605";
                    margin-right: 3px;
               }
          }

          p {
               font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
               font-size: 0.65rem;
               font-weight: bolder;
               text-align: start;
               text-wrap: pretty;
               text-rendering: optimizeSpeed;
               line-height: normal;
               color: var(--clr-manual-contrast);
               margin-block: 3px;
          }
     }

     .biography {
          --clr-biography-category-type: #{ $clr-biography-category-type };
          --clr-biography-category-type-contrast: #{ $clr-biography-category-type-contrast };
          display: grid;
          grid-template-columns: auto 100px;
          grid-template-rows: auto auto;
          grid-template-areas:
               "biography-desc biography-category"
               "biography-rewrite biography-category"
          ;
          gap: 10px;
          margin-top: 3px;
     
          &__desc {
               grid-area: biography-desc;
          }
     
          &__rewrite {
               -webkit-user-select: none;
               user-select: none;
               place-self: center;
               grid-area: biography-rewrite;
               image-rendering: pixelated;
               margin-bottom: 8px;
          }
     
          &__category {
               grid-area: biography-category;
               outline: none;
               overflow-y: auto;
               scrollbar-width: none;
               height: $manual-content-height;
     
               &:focus-visible {
                    --clr-manual: #{ color.scale($clr-manual, $saturation: -20%, $lightness: -15%) };
                    background: var(--clr-manual);
               }
          }
     
          &__category-item {
               margin-block: 5px;
     
               &:first-child {
                    margin-top: 0px
               }
          }
     
          &__category-type {
               display: block;
               font-family: 'Zalando Sans', font.$standard-font;
               font-size: 0.7rem;
               font-weight: 650;
               font-stretch: semi-condensed;
               text-transform: capitalize;
               text-align: center;
               color: var(--clr-biography-category-type-contrast);
               background-color: var(--clr-biography-category-type);
               padding: 3px 5px;
               margin: 0;
          }
     
          &__category-info {
               font-weight: bolder;
               font-style: italic;
               text-align: start;
          }
     }

     .facts {
          --clr-fact-factpad:          #{ $clr-fact-factpad };
          --clr-fact-factpad-contrast: #{ $clr-fact-factpad-contrast };
          --clr-fact-list-scrollbar-thumb: #{ $clr-fact-list-scrollbar-thumb };
          --clr-fact-list-scrollbar-track: #{ $clr-fact-list-scrollbar-track };
          display: grid;
          grid-template-columns: 78px auto;
          grid-template-rows: auto;
          gap: 10px;
          margin-top: 3px;
     
          &__factpad {
               display: flex;
               flex-direction: column;
          }
     
          &__factpad-title {
               font-family: 'Archivo', font.$standard-font;
               font-size: 0.95rem;
               font-weight: 800;
               font-stretch: semi-condensed;
               text-align: center;
               text-transform: uppercase;
               color: var(--clr-fact-factpad-contrast);
               background-color: var(--clr-fact-factpad);
               padding: ex-math.midpoint(3px, 4px, 2.5) 5px;
          }
     
          &__factpad-freedom {
               -webkit-user-select: none;
               user-select: none;
               image-rendering: pixelated;
          }
     
          &__factpad-desc {
               font-family: 'MS Pixel Serif', font.$standard-font;
               font-display: block;
               font-size: 0.55rem;
               font-weight: normal;
               padding-inline: 3px;
          }
     
          &__list {
               --clr-scrollbar-thumb: var(--clr-fact-list-scrollbar-thumb);
               --clr-scrollbar-track: var(--clr-fact-list-scrollbar-track);
               display: flex;
               flex-direction: column;
               row-gap: 3px;
               list-style-type: disc;
               outline: none;
               overflow: hidden auto;
               scrollbar-width: thin;
               scrollbar-color: var(--clr-scrollbar-thumb) var(--clr-scrollbar-track);
               height: $manual-content-height;
               padding-left: 15px;

               &:focus-visible {
                    --clr-scrollbar-thumb: #{ color.scale($clr-fact-list-scrollbar-thumb, $saturation: -30%, $lightness: -25%) };
               }
          
               &::-webkit-scrollbar {
                    width: 6px;
               }
          
               &::-webkit-scrollbar-track {
                    background: var(--clr-scrollbar-track);
               }
          
               &::-webkit-scrollbar-thumb {
                    background: var(--clr-scrollbar-thumb);
                    border-radius: 4px;
               }
          }
     
          &__item {
               font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
               font-size: ex-math.midpoint(0.65rem, 0.70rem);
               font-weight: bolder;
               text-align: start;
               text-wrap: stable;
               color: var(--clr-manual-contrast);
          }
     }
}