@use '../../modules/built-in/math.scss' as ex-math;
@use '../../modules/built-in/color.scss' as ex-color;
@use '../../modules/fonts.scss' as font;
@use '../../modules/flavors.scss' as flv;
@use '../../modules/structure.scss' as sct;
@use 'sass:map';
@use 'sass:color';

$clr-palettes-primary:   map.get(flv.$palettes, 'primary');
$clr-palettes-secondary: map.get(flv.$palettes, 'secondary');
$clr-palettes-primary-contrast:   map.get(flv.$palettes-contrast, 'primary');
$clr-palettes-secondary-contrast: map.get(flv.$palettes-contrast, 'secondary');

$clr-biography-headbar: beige;
$clr-biography-headbar-contrast: ex-color.contrast($clr-biography-headbar);
$clr-biography-scrollbar-thumb: map.get(flv.$scrollbar, 'thumb');
$clr-biography-scrollbar-track: map.get(flv.$scrollbar, 'track');
:root {
     --clr-palettes-primary:   #{ $clr-palettes-primary };
     --clr-palettes-secondary: #{ $clr-palettes-secondary };
     --clr-palettes-primary-contrast:   #{ $clr-palettes-primary-contrast };
     --clr-palettes-secondary-contrast: #{ $clr-palettes-secondary-contrast };
}

.about .profile .biography {
     --clr-biography-headbar:          #{ $clr-biography-headbar };
     --clr-biography-headbar-contrast: #{ $clr-biography-headbar-contrast };
     --clr-biography-scrollbar-thumb: #{ $clr-biography-scrollbar-thumb };
     --clr-biography-scrollbar-track: #{ $clr-biography-scrollbar-track };

     &__headbar {
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-template-rows: auto auto;
          grid-template-areas:
               "headbar-blocks headbar-title"
               "headbar-decorations headbar-decorations"
          ;
          gap: 5px;
          margin-bottom: 10px;
     }

     &__headbar-blocks {
          grid-area: headbar-blocks;
          background-color: var(--clr-biography-headbar);
     }

     &__headbar-title {
          grid-area: headbar-title;
          font-family: 'Archivo', font.$standard-font;
          font-size: 1.3rem;
          font-weight: 800;
          font-stretch: semi-expanded;
          text-transform: uppercase;
          color: var(--clr-biography-headbar);
          border: 2px solid var(--clr-biography-headbar);
          border-left-width: 10px;
          padding: 3px 10px;

          &::selection {
               color: var(--clr-biography-headbar-contrast);
               background-color: var(--clr-biography-headbar);
          }
     }

     &__headbar-decorations {
          display: flex;
          flex-direction: row;
          grid-area: headbar-decorations;
          gap: 5px;
          width: 100%;
     }

     &__headbar-slabs {
          background-color: var(--clr-biography-headbar);
          height: 10px;

          &--palette-1 {
               flex-grow: 2;
               background-color: var(--clr-palettes-primary);
          }

          &--palette-2 {
               flex-grow: 1;
               background-color: var(--clr-palettes-secondary);
          }
     }

     &__body {
          --clr-scrollbar-thumb: var(--clr-biography-scrollbar-thumb);
          --clr-scrollbar-track: var(--clr-biography-scrollbar-track);
          outline: none;
          overflow-y: auto;
          height: 275px;
          scrollbar-width: thin;
          scrollbar-color: var(--clr-scrollbar-thumb) var(--clr-scrollbar-track);
          padding: 5px 5px 5px 0px;

          &:focus-visible {
               --clr-scrollbar-thumb: #{ color.adjust($clr-biography-scrollbar-thumb, $lightness: 13%) };
          }
          
          &::-webkit-scrollbar {
               width: 6px;
          }
          
          &::-webkit-scrollbar-track {
               background: var(--clr-scrollbar-track);
          }
          
          &::-webkit-scrollbar-thumb {
               background: var(--clr-scrollbar-thumb);
               border-radius: 4px;
          }

          h3 {
               display: flex;
               align-items: center;
               font-family: 'Zalando Sans', font.$standard-font;
               font-size: 0.8rem;
               font-weight: 650;
               font-stretch: semi-condensed;
               text-transform: uppercase;
               color: var(--clr-palettes-primary-contrast);
               background-color: var(--clr-palettes-primary);
               padding: 3px 5px;

               &::before {
                    content: "\2605";
                    margin-right: 3px;
               }
          }

          p {
               font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
               font-size: ex-math.midpoint(0.75rem, 0.90rem);
               text-align: start;
               text-wrap: pretty;
               text-rendering: optimizeSpeed;
               line-height: 1rlh;
               padding-inline: 3px;
               margin-block: 10px;
          }
     }

     &__heading {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          margin-bottom: 5px;
     }

     &__heading-title {
          -webkit-user-select: all;
          user-select: all;
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 1rem;
          font-weight: 750;
          font-stretch: semi-expanded;
          color: var(--clr-palettes-secondary-contrast);
          background-color: var(--clr-palettes-secondary);
          width: fit-content;
          padding: 2px 5px 2px 3px;

          &::before {
               content: '\2726';
               margin-right: 3px;
          }
     }

     &__heading-subtitle {
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 0.9rem;
          font-weight: 750;
          font-stretch: semi-expanded;
          text-transform: uppercase;
     }

     &__heading-section {
          display: flex;
          align-items: center;
          font-family: 'Zalando Sans', font.$standard-font;
          font-size: 0.8rem;
          font-weight: 650;
          font-stretch: semi-condensed;
          text-transform: uppercase;
          color: var(--clr-palettes-primary-contrast);
          background-color: var(--clr-palettes-primary);
          padding: 3px 5px;

          &::before {
               content: "\2605";
               margin-right: 3px;
          }
     }

     &__heading-desc {
          font-family: 'Trebuchet MS', font.$standard-fancy-font, font.$standard-font;
          font-size: ex-math.midpoint(0.75rem, 0.80rem);
          text-align: start;
          text-wrap: pretty;
          text-rendering: optimizeSpeed;
          line-height: normal;
          padding-inline: 3px;
          margin-block: 10px;
     }
}