/* Error: Undefined variable.
 *    ,
 * 93 |                --color-scrollbar-thumb: #{ color.adjust($color-scrollbar-thumb-base, $lightness: 13%) };
 *    |                                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/components/manuals/manual-biography.scss 93:57  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 93 \2502                 --color-scrollbar-thumb: #{ color.adjust($color-scrollbar-thumb-base, $lightness: 13%) };\a    \2502                                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/components/manuals/manual-biography.scss 93:57  root stylesheet";
}
