@use '../modules/shortcuts.scss' as sc;
@use "sass:string";
@use "sass:list";
@use "sass:math";
@use "sass:color";

@include sc.font-face-var('Archivo', 100 900, 62% 125%, normal, "../..", (
     ('woff2', format('woff2-variations')), 
     ('woff2', format('woff2') tech('variations'))
));
@include sc.font-face-var('Lexend', 100 900, normal, normal, "../..", (
     ('woff2', format('woff2-variations')), 
     ('woff2', format('woff2') tech('variations'))
));
@include sc.font-face-var('FiraCode', 300 700, normal, normal, "../..", (
     ('woff2', format('woff2-variations')), 
     ('woff2', format('woff2') tech('variations'))
));

body .sidebar {
     background-color: rgb(40, 40, 40);
     border: 2.5px solid transparent;
     border-image: linear-gradient(180deg, hsl(238, 64%, 60%), hsl(239, 53%, 43%)) 1;
     box-shadow: 10px 0px 0px -5px hsl(253, 52%, 27%);
     width: 260px;
     height: fit-content;
     
     &__headbar {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          border-bottom: 2.5px solid hsl(238, 64%, 60%);
          position: relative;
          height: auto;
          gap: 8px;
          padding-block: 8px 10px;
          @include sc.gradient(180deg, #3837b9 0%, #1e1e68 85%);
          @include sc.user-select(none);
     
          // Stolen Code @see https://aleclownes.com/2017/02/01/crt-display.html
          &::before {
               content: " ";
               z-index: 2;
               pointer-events: none;
               display: block;
               background:
                    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
                    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
               background-size: 100% 2px, 3px 100%;
               animation: flicker 0.15s infinite;
               position: absolute;
               inset: 0;
          }
     
          // This code is made by me, SCSS is so GOATED!!!
          $flicker-proximate: 100000;
          @keyframes flicker {
               @for $flicker-index from 0 through 20 {
                    $flicker-sections: math.percentage(math.div(5 * $flicker-index, 100));
                    $flicker-vars: math.div(math.random($flicker-proximate), $flicker-proximate);
                      
                    #{$flicker-sections} {
                         opacity: $flicker-vars;
                    }
               }
          }
     }
     
     &__headbar-title {
          font-family: "Archivo";
          font-size: 1.05rem;
          font-weight: 800;
          font-stretch: 105%;
          border-right: 3px solid #104206;
          width: fit-content;
          padding-block: 5px;
          padding-inline: 10px;
          @include sc.gradient(180deg, #39b11f 0%, #247812 100%);
     }
     
     &__headbar-slogan {
          display: flex;
          flex-direction: column;
          font-size: 0.75rem;
          font-weight: 900;
          font-stretch: expanded;
          text-align: right;
          padding-right: 5px;
     }
     
     &__headbar-slogan-text {
          padding-inline: 3px;
     
          &--second {
               animation: hardBlink 3s step-start infinite;
               width: fit-content;
               margin-left: auto;
          }
     
          @keyframes hardBlink {
               50% {
                    background-color: red;
               }
          }
     }
     
     .navigation, .debug {
          margin-block: 15px;
     
          &__headbar {
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: 1fr;
               align-items: center;
               border-block: 1px solid black;
               @include sc.gradient(165deg, rgb(85, 85, 85) 0%, rgb(39, 39, 39) 95%);
     
               & > * {
                    grid-area: 1 / 1;
               }
          }
     
          &__headbar-title {
               z-index: 1;
               font-family: sc.$fancy-font;
               font-size: 0.85rem;
               font-weight: 700;
               border-inline: 1px solid black;
               width: fit-content;
               padding: 5px 8px;
               margin-left: 10px;
               //@include sc.gradient(165deg, hsl(38, 77%, 56%) 0%, hsl(38, 77%, 25%) 95%);
               @include sc.gradient(165deg, hsl(219, 52%, 56%) 0%, hsl(219, 40%, 25%) 95%);
          }
     
          &__headbar-marquee {
               font-family: sc.$fancy-font;
               font-size: 0.75rem;
               font-style: italic;
               @include sc.user-select(none);
          }
     
          &:last-of-type {
               margin-bottom: 0;
          }
     }
     
     .navigation {     
          --navigation-primary-color: hsl(240, 100%, 65%);
          --navigation-secondary-color: hsl(240, 65%, 38%);
          --navigation-primary-hover-color: hsl(240, 100%, 70%);
          --navigation-secondary-hover-color: hsl(240, 65%, 43%);
     
          --navigation-text-hover-color: black;
          --navigation-text-hover-style: italic;

          --navigation-current-margin-left: 15px;
          --navigation-current-sideblock-visibility: auto;
     
          &__list {
               display: flex;
               flex-direction: column;
               gap: 5px;
               padding: 10px;
          }
     
          &__link {
               cursor: pointer;
               font-family: 'Lexend', sc.$standard-font;
               font-size: 0.95rem;
               font-weight: 650;
               text-decoration: none;
               color: currentColor;
     
               &--flavory {
                    --navigation-primary-color: hsl(90, 100%, 35%);
                    --navigation-secondary-color: hsl(91, 68%, 25%);
                    --navigation-primary-hover-color: hsl(90, 100%, 40%);
                    --navigation-secondary-hover-color: hsl(91, 68%, 30%);
               }
     
               &--not-supported {
                    --navigation-text-hover-color: currentColor;
                    --navigation-text-hover-style: none;
     
                    // BIG BRAIN MOVES BITCHES
                    --navigation-primary-hover-color: var(--navigation-primary-color);
                    --navigation-secondary-hover-color: var(--navigation-secondary-color);
     
                    cursor: not-allowed;
                    text-decoration: line-through;
                    text-decoration-thickness: 3px;
               }

               &--current, &:focus-within {
                    --navigation-text-hover-color: currentColor;
                    --navigation-text-hover-style: none;
                    
                    // BIG BRAIN MOVES BITCHES
                    --navigation-primary-hover-color: var(--navigation-primary-color);
                    --navigation-secondary-hover-color: var(--navigation-secondary-color);

                    --navigation-current-margin-left: 0px;
                    --navigation-current-sideblock-visibility: none;
                    cursor: not-allowed;
                    border-radius: 0;
                    outline: 1px solid currentColor;
               }
          }
     
          &__item {
               outline: 1px solid black;
               position: relative;
               padding: 3px 8px;
               margin-left: var(--navigation-current-margin-left);
               @include sc.gradient(45deg, var(--navigation-primary-color) 0%, var(--navigation-secondary-color) 100%);
     
               &:hover {
                    font-style: var(--navigation-text-hover-style);
                    color: var(--navigation-text-hover-color);
                    @include sc.gradient(45deg, var(--navigation-primary-hover-color) 0%, var(--navigation-secondary-hover-color) 100%);
     
                    &::before {
                         background-color: var(--navigation-primary-hover-color);
                    }
               }
     
               &::before {
                    content: "";
                    display: var(--navigation-current-sideblock-visibility);
                    background-color: var(--navigation-primary-color);
                    outline: 1px solid black;
                    position: absolute;
                    left: -15px;
                    top: 0;
                    width: 8px;
                    height: calc(1rem + 9px);
               }
          }
     }
     
     .debug {
          &__body {
               background-color: color.adjust(#272525, $lightness: -5%);
               padding: 15px;
          }

          &__console {
               display: flex;
               flex-direction: column;
               overflow-y: auto;
               overflow-x: hidden;
               background-color: color.adjust(#272525, $lightness: -10%);
               height: 7cm;

               &::selection, *::selection {
                    background-color: #ffffff;
                    color: #000000;
               }

               &::-webkit-scrollbar {
                    width: 7px;
               }
          
               &::-webkit-scrollbar-track {
                    background: color.adjust(#272525, $lightness: -10%);
               }
          
               &::-webkit-scrollbar-thumb {
                    background: #242424;
                    border-radius: 0px;
               }
          }

          &__terminal, &__input {
               font-family: 'FiraCode', sc.$standard-code-font;
               font-size: 0.6rem;
               line-height: 0.85rem;
               background-color: color.adjust(#272525, $lightness: -10%);
               padding: 8px;
          }

          &__terminal { // this is where text is shown dummy
               margin-top: auto;
               padding-bottom: 0 !important;

               color-commit {
                    color: #ffb300
               }

               color-head {
                    color: #51cbd3;
                    font-weight: bolder;
               }

               color-main {
                    color: #43cd5f;
                    font-weight: bolder
               }
          }

          &__input { // this is where you put text dummy
               caret-shape: block;
               caret-color: white;
               resize: none;
               border: none;
               outline: none;
               position: sticky;
               bottom: 0;
               width: 100%;
          }
     }
}