@use './built-in/color.scss' as ex-color;
@use 'sass:map';
@use 'sass:color';

$palletes: (
     'primary':    hsl(240deg, 100%, 65%),
     'secondary':  hsl(89deg, 96%, 63%),
     'tertiary':   hsl(42deg, 100%, 53%),
     'quaternary': hsl(357deg, 94%, 60%)
);

$palletes-contrast: (
     'primary':    ex-color.contrast(map.get($palletes, 'primary')),
     'secondary':  ex-color.contrast(map.get($palletes, 'secondary')),
     'tertiary':   ex-color.contrast(map.get($palletes, 'tertiary')),
     'quaternary': ex-color.contrast(map.get($palletes, 'quaternary'))
);

$palletes-shadow: (
     'primary':    color.change(map.get($palletes, 'primary'), $alpha: 0.75),
     'secondary':  color.change(map.get($palletes, 'secondary'), $alpha: 0.75),
     'tertiary':   color.change(map.get($palletes, 'tertiary'), $alpha: 0.75),
     'quaternary': color.change(map.get($palletes, 'quaternary'), $alpha: 0.75)
);

$syntax: (
     'blue':   hsl(208deg, 100%, 78%),
     'red':    hsl(1deg, 100%, 79%),
     'purple': hsl(270deg, 100%, 86%)
     'green':  hsl(118deg, 100%, 78%),
     'teal':   hsl(168deg, 55%, 54%),
     'yellow': hsl(34deg, 100%, 65%),
     'grey':   hsl(212deg, 13%, 77%),
     'white':  hsl(0deg, 0%, 100%)
);

$syntax-nest: (
     'level-1': hsl(208deg, 100%, 78%),
     'level-2': hsl(132deg, 73%, 57%),
     'level-3': hsl(46deg, 93%, 58%),
     'level-4': hsl(2deg, 62%, 76%),
     'level-5': hsl(331deg, 80%, 80%),
     'level-6': hsl(271deg, 88%, 84%),
);