@use 'sass:string';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use './built-in/list' as exlist;

/* Helpers */

/// List of every predefined weight keywords.
/// @access private
/// @type map
$_weights: (
     "Thin": 100,
     "ExtraLight": 200,
     "Light": 300,
     "Medium": 400,
     "Regular": 500,
     "SemiBold": 600,
     "Bold": 700,
     "ExtraBold": 800,
     "Black": 900
);

/// List of every predefined width keywords.
/// @access private
/// @type map
$_widths: (
     ultra-condensed: 50%,
     extra-condensed: 62.5%,
     condensed: 75%,
     semi-condensed: 87.5%,
     normal: 100%,
     semi-expanded: 112.5%,
     expanded: 125%,
     extra-expanded: 150%,
     ultra-expanded: 200%
);

/// Creates a path for the font.
/// @access private
/// @param {string} $name - The name of said font, will also applied to its folder name.
/// @param {string} $root - The root level of the path.
/// @return string
@function _font-path($name, $root) {
     @return '#{$root}/fonts/#{$name}/#{$name}';
}

/// Creates a source path of the font.
/// @access private
/// @param {string} $path    - The path of the font.
/// @param {list}   $sources - The file format of the font.
/// @return string
@function _font-sources($path, $sources) {
     $result: ();
     @each $type, $format in $sources {
          $result: list.append($result, url('#{$path}.#{$type}') $format, $separator: comma);
     }
     @return $result;
}

/// Creates nested path roots for the font path.
/// @access private
/// @param {number} $level [1] - The number of root levels.
/// @return string
@function _font-root($level: 1) {
     $result: "";
     @for $level from 1 through $level {
          $result: $result + "..";
     }
     @return $result;
}

/// Adds the weight type of the font.
/// @access private
/// @param {string} $weight - The weight type.
/// @return string
@function _font-weight-suffix($weight) {
     $weight-name-index: list.index(map.values($_weights), $weight);
     @if ($weight-name-index != null) {
          $weight-name: list.nth(list.nth($_weights, $weight-name-index), 1);
          @return $weight-name;
     }
     @warn "Attempted to add precise weight value, reminder this for static fonts only.";
     @return "Regular";
}

/// Adds the width type of the font, alters the path tto include its width subfolder.
/// @access private
/// @param {string} $width - The width type.
/// @param {string} $path  - The path of the font.
/// @return string
@function _font-width-prefix($width, $path) {
     $font-path: string.split($path, '/');
     $font-path-length: list.length($font-path);

     $font-width-subfolder: '#{$width}/#{list.nth($font-path, $font-path-length)}';
     @if ($width == 'normal') {
          $font-width-subfolder: '#{list.nth($font-path, $font-path-length)}';
     }

     $path-remove-last: exlist.remove($font-path, $font-path-length);
     $path-new-last: string.split($font-width-subfolder, '/');
     @return exlist.list-to-string(list.join($path-remove-last, $path-new-last, $separator: slash), '/');
}

/* Main */

/// Standard default font.
/// @access public
/// @type list
$standard-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

/// Standard alternattive default font.
/// @access public
/// @type list
$standard-fancy-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

/// Standard default code font.
/// @access public
/// @type list
$standard-code-font: Menlo, "Lucida Console", "Monaco", "monospace";

/// Creates a list of properties based on its range, awesome helper function.
/// @access public
/// @param {number|string} $min - The minimum value to start.
/// @param {number|string} $max - The maximum value to end.
/// @return list
@function font-property-range($min, $max) {
     $result: ();
     @if (meta.type-of($min) == 'number' and meta.type-of($max) == 'number') {
          $min-range: calc($min / 100);
          $max-range: calc($max / 100);
          @for $weight-index from $min-range through $max-range {
               $result: list.append($result, calc($weight-index * 100));
          }
     }
     @if (meta.type-of($min) == 'string' and meta.type-of($max) == 'string') {
          $min-range: list.index(map.keys($_widths), semi-condensed);
          $max-range: list.index(map.keys($_widths), expanded);
          @for $width-index from $min-range through $max-range {
               $result: list.append($result, list.nth(list.nth($_widths, $width-index), 1));
          }
     }
     @return $result;
}

/// Creates a static font face.
/// @access public
/// @param {string} $name     - The name of the font.
/// @param {list}   $weights  - The weight(s) of the font.
/// @param {list}   $widths   - The widths(s) of the font
/// @param {string} $style    - The style of the font (i.e. italic, oblique).
/// @param {number} $level    - The root path level of the font.
/// @param {map}    $sources  - The file format(s) of the font.
/// @output The generated font faces.
@mixin font-face($name, $weights, $widths, $style, $level, $sources) {
     $weight-length: list.length($weights);
     $widths-length: list.length($widths);

     @for $weight-index from 1 through $weight-length {
          $weight-value: list.nth($weights, $weight-index);

          @for $width-index from 1 through $widths-length {
               $width-value: list.nth($widths, $width-index);

               $font-weight-suffix: _font-weight-suffix($weight-value);
               $font-width-prefix:  _font-width-prefix($width-value, _font-path($name, _font-root($level)));
               @font-face {
                    font-family: $name;
                    src: _font-sources("#{$font-width-prefix}-#{$font-weight-suffix}", $sources);
                    font-weight: $weight-value;
                    font-stretch: $width-value;
                    font-style: $style;
                    font-display: swap;
               }
          }
     }
}

/// Creates a variable font face.
/// @access public
/// @param {string} $name     - The name of the font.
/// @param {list}   $weights  - The weight(s) of the font.
/// @param {list}   $widths   - The widths(s) of the font
/// @param {string} $style    - The style of the font (i.e. italic, oblique).
/// @param {number} $level    - The root path level of the font.
/// @param {map}    $sources  - The file format(s) of the font.
/// @output The generated font faces.
@mixin font-face-var($name, $weights, $width, $style, $level, $sources) {
     @font-face {
          font-family: $name;
          src: _font-sources(_font-path($name, _font-root($level)), $sources);
          font-weight: $weights;
          font-stretch: $width;
          font-style: $style;
          font-pathsplay: swap;
     }
}