@use 'sass:color';

/* Main Flavors */

$flavor-primary-color: hsl(240deg, 100%, 65%);
$flavor-secondary-color: hsl(89deg, 96%, 63%);
$flavor-tertiary-color: hsl(42deg, 100%, 53%);
$flavor-quaternary-color: hsl(357deg, 94%, 60%);

/* Side Flavors */

$flavor-wallpaper-color: hsl(252deg, 14%, 21%);
$flavor-content-color: hsl(0deg, 3%, 10%);
$flavor-bento-color: hsl(0deg, 0%, 5%);
$flavor-gridline-color: hsl(0deg, 0%, 0%, 0.5);

$flavor-scrollbar-track: hsl(0deg, 0%, 0%, 0);
$flavor-scrollbar-thumb: hsl(254deg, 25%, 15%);

/* Code Flavors */

$flavor-code-blue:   hsl(208deg, 100%, 78%);
$flavor-code-red:    hsl(1deg, 100%, 79%);
$flavor-code-purple: hsl(270deg, 100%, 86%);
$flavor-code-green:  hsl(118deg, 100%, 78%);
$flavor-code-aqua:   hsl(168deg, 55%, 54%);
$flavor-code-yellow: hsl(34deg, 100%, 65%);
$flavor-code-grey:   hsl(212deg, 13%, 77%);
$flavor-code-white:  hsl(0deg, 0%, 100%);

$flavor-code-nest-1: hsl(208deg, 100%, 78%);
$flavor-code-nest-2: hsl(132deg, 73%, 57%);
$flavor-code-nest-3: hsl(46deg, 93%, 58%);
$flavor-code-nest-4: hsl(2deg, 62%, 76%);
$flavor-code-nest-5: hsl(331deg, 80%, 80%);
$flavor-code-nest-6: hsl(271deg, 88%, 84%);

/* Extra Flavors */

/// Calculate the contrast ratio of text and background colors.
/// I also stole this code from somewhere.
/// @param {color} $color - The color to measure its contrast
/// @param {color} $dark-color  [#000000] - The dark color to fallback to.
/// @param {color} $light-color [#ffffff] - The light color to fallback to.
/// @return The contrasting color, either white or black.
@function color-contrast($color, $dark-color: #000000, $light-color: #ffffff) {
     $color: color.to-space($color, rgb);
     $r: color.channel($color, "red", $space: rgb);
     $g: color.channel($color, "green", $space: rgb);
     $b: color.channel($color, "blue", $space: rgb);

     $brightness: calc((($r * 299) + ($g * 587) + ($b * 114)) / 1000);
     @if ($brightness > 128) {
          @return $dark-color;
     } @else {
          @return $light-color;
     }
}