@use './palletes.scss' as plt;
@use 'sass:list';

/* Structure & Adjustments Methods  */

/// Shorthand for creating fancy headbars.
/// @param {color} $primary   - The primary pallete.
/// @param {color} $secondary - The secondary pallete.
/// @param {color} $tertiary  - The tertiary pallete.
/// @param {list}  $gradients - The starting and ending gradient colors.
/// @output Fancy headbars, amazing right?
@mixin headbars($primary, $secondary, $tertiary, $gradients) {
     $headbar-palletes: $primary, $secondary, $tertiary;
     $headbar-gradient-start: list.nth($gradients, 1) 5%;
     $headbar-gradient-end: list.nth($gradients, 2) 95%;

     &__headbar {
          display: flex;
          flex-direction: row;
          column-gap: 3px;
     }

     &__headtitle {
          font-family: 'Archivo';
          font-size: 1.1rem;
          font-weight: 900;
          font-stretch: expanded;
          text-transform: capitalize;
          background: linear-gradient(144deg, $headbar-gradient-start, $headbar-gradient-end);
          border: 2px solid black;
          padding: 5px 10px;
          width: 100%;
     }

     &__headblocks {
          border: 2px solid black;
          width: calc((15px + 20px) / 2);
          height: auto;

          @for $pallete-index from 1 through 3 {
               &--pallete-#{$pallete-index} {
                    background-color: list.nth($headbar-palletes, $pallete-index);
               }
          }
     }
}

/// Shorthand for creating custom lame scrollbars.
/// @param {color} $track       - The track color.
/// @param {color} $thumb       - The thumb color.
/// @param {color} $thumb-focus - The thumb color, when it's focused.
/// @output Lame scrollbar, blame my strict accessibility rules.
@mixin scrollbar($track, $thumb, $thumb-focus) {
     --scrollbar-thumb: #{$thumb};
     --scrollbar-track: #{$track};
     scrollbar-width: thin;
     scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

     &:focus-visible {
          --scrollbar-thumb: #{$thumb-focus};
     }

     &::-webkit-scrollbar {
          width: 6px;
     }

     &::-webkit-scrollbar-track {
          background: var(--scrollbar-track);
     }

     &::-webkit-scrollbar-thumb {
          background: var(--scrollbar-thumb);
          border-radius: 4px;
     }
}

/* Bento Box Methods  */

/// Ignores the bento box parent styling.
/// @access private
/// @output Self-explanatory.
@mixin _bentobox-grid-parent-ignore {
     background-color: transparent;
     border-radius: 0px;
}

/// Applies the bento box parent styling.
/// @access private
/// @output Self-explanatory.
@mixin _bentobox-grid-parent-apply {
     background-color: plt.$flavor-bento-color;
     border-radius: 5px;
}

/// Ignores the bento box children styling.
/// @access private
/// @output Self-explanatory.
@mixin _bentobox-grid-child-ignore { 
     & > * { @include _bentobox-grid-parent-ignore }
}

/// Applies the bento box children styling.
/// @access private
/// @output Self-explanatory.
@mixin _bentobox-grid-child-apply { 
     & > * { @include _bentobox-grid-parent-apply  }
}

/// Applies specific styling type to bento box grids.
/// Styling types include: parent-apply, parent-ignore, child-apply, child-ignore, child-only.
/// @param {string} $grid-style [child-apply] - The specific styling to apply with.
/// @output Adds the specific styling type to that bento box.
@mixin bentobox-grid($grid-style: child-apply) {
     @if ($grid-style == 'child-only') {
          @include _bentobox-grid-parent-ignore;
          @include _bentobox-grid-child-apply;
     } @else if ($grid-style == 'child-apply')   {
          @include _bentobox-grid-child-apply;
     } @else if ($grid-style == 'child-ignore')  {
          @include _bentobox-grid-child-ignore;
     } @else if ($grid-style == 'parent-apply')  {
          @include _bentobox-grid-parent-apply;
     } @else if ($grid-style == 'parent-ignore') {
          @include _bentobox-grid-parent-ignore;
     }
}

/// Applies content rendering optimization to the bento box groups.
/// Must be only be applied by the main container box (e.g. about, blogs, etc).
/// @output Adds the content rendering optimization properties while also checkiing for browser support.
@mixin bentobox-rendering {
     @supports (content-visibility: auto) and (overflow-clip-margin: 5px) {
          & > * {
               content-visibility: auto;
               overflow-clip-margin: 5px;
          }
     }
}