@use './palletes.scss' as plt;
@use 'sass:list';

/* Structure & Adjustments Methods  */

/// Shorthand for creating fancy headbars.
/// @param {color} $primary   - The primary pallete.
/// @param {color} $secondary - The secondary pallete.
/// @param {color} $tertiary  - The tertiary pallete.
/// @param {list}  $gradients - The starting and ending gradient colors.
/// @output Fancy headbars, amazing right?
@mixin headbars($primary, $secondary, $tertiary, $gradients) {
     $headbar-palletes: $primary, $secondary, $tertiary;
     $headbar-gradient-start: list.nth($gradients, 1) 5%;
     $headbar-gradient-end: list.nth($gradients, 2) 95%;

     &__headbar {
          display: flex;
          flex-direction: row;
          column-gap: 3px;
     }

     &__headtitle {
          font-family: 'Archivo';
          font-size: 1.1rem;
          font-weight: 900;
          font-stretch: expanded;
          text-transform: capitalize;
          background: linear-gradient(144deg, $headbar-gradient-start, $headbar-gradient-end);
          border: 2px solid black;
          padding: 5px 10px;
          width: 100%;
     }

     &__headblocks {
          border: 2px solid black;
          width: calc((15px + 20px) / 2);
          height: auto;

          @for $pallete-index from 1 through 3 {
               &--pallete-#{$pallete-index} {
                    background-color: list.nth($headbar-palletes, $pallete-index);
               }
          }
     }
}

/// Shorthand for creating custom lame scrollbars.
/// @param {color} $track       - The track color.
/// @param {color} $thumb       - The thumb color.
/// @param {color} $thumb-focus - The thumb color, when it's focused.
/// @output Lame scrollbar, blame my strict accessibility rules.
@mixin scrollbar($track, $thumb, $thumb-focus) {
     --scrollbar-thumb: #{$thumb};
     --scrollbar-track: #{$track};
     scrollbar-width: thin;
     scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

     &:focus-visible {
          --scrollbar-thumb: #{$thumb-focus};
     }

     &::-webkit-scrollbar {
          width: 6px;
     }

     &::-webkit-scrollbar-track {
          background: var(--scrollbar-track);
     }

     &::-webkit-scrollbar-thumb {
          background: var(--scrollbar-thumb);
          border-radius: 4px;
     }
}

/// Helper function for calculating the precise midpoint values, useful for font sizes.
/// @param {number} $start     - The starting value, must be the smallest one.
/// @param {number} $end       - The ending value, must be the biggest one.
/// @param {number} $point [2] - The point value.
/// @return Precise midpoint value, big shocker I know.
@function midpoint($start, $end, $point: 2) {
     @return calc(($start + $end) / $point);
}

/* BentoBox Methods  */

/// Helper function for bentobox, ignores the styling from itself.
/// @access private
/// @output Self-explanatory.
@mixin _bentobox-self-ignore {
     background-color: transparent;
     border-radius: 0px;
}

/// Helper function for bentobox, applies the styling from itself.
/// @access private
/// @output Self-explanatory.
@mixin _bentobox-self-apply {
     background-color: plt.$flavor-bento-color;
     border-radius: 5px;
}

/// Helper function for bentobox, applies the styling to the child elements.
/// @access private
/// @output Self-explanatory.
@mixin _bentobox-other { 
     & > * { @include _bentobox-self-apply }
}

/// Shorthand for applying default styling for bento boxes.
/// @param {bool} $boxtype - Styling type, can be either: all, self, or no argument.
/// @output Bento box default styling, no shit sherlock!
@mixin bentobox($boxtype: null) {
     @if ($boxtype == 'all') {
          @include _bentobox-self-ignore; @include _bentobox-other;
     } @else if ($boxtype == 'self-ignore') {
          @include _bentobox-self-ignore;
     } @else if ($boxtype =='self-apply') {
          @include _bentobox-self-apply;
     } @else {
          @include _bentobox-other;
     }
}